﻿/*全局共性样式*/
*{
	margin: 100;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: arial,"microsoft yahei";
}
a{
	text-decoration: none;
		color: #4c4c4c;
    font-size: 12px;
}
ul{
	list-style-type: none;
}
body{
	/*width: 1180px;*/
	background-color: #FAFAFA;
	outline: none;
}
/*头部-header-*/
header{
	width: 100%;
	height: 148px;
}
#log_language{
	height: 68px;
	background-color: #F5F5F5;
}
/*   *********头部搜索栏**/
header ul{
	width: 1180px;
	margin: 0 auto;
	/*background-color: skyblue;*/
	display: flex;
	justify-content: space-between;
}
.head_input{
	height: 68px;
}
.head_input>li{
	width: 50%;
}
/**左侧log*/
.head_input>li>a>img{
	margin: 12px auto;
}
.head_input>li>input{
	position: relative;
	top: -25px;
	left: 40px;
	width: 336px;
	height: 28px;;
	border: rgba(164,203,255) solid 0.1px;
	border-radius:4px 0 0 4px;
	margin: 12px auto;
}
/****头部搜索栏****/
.head_input>:nth-child(1)>button{
	position: relative;
	border-style: groove;
	border-radius: 0 4px 4px 0;
	top: -65px;
	left: 500px;
	display: block;
    width: 45px;
    height: 28px;
    cursor: pointer;/*鼠标放上去样式**/
    background-position: -52px -606px;
    background-image: url(../img/img_head_language.png);
    background-color: rgba(164,203,255);
    background-repeat: no-repeat;
}

/***右侧语言栏****/
.language{
	width: 350px;
	float: right;
	position: relative;
	top: 25px;
}
.arrow{
	display: inline-block;
    width: 9px;
    height: 5px;
    margin-left: 5px;
	background-position: -22px -264px;
	background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal ,.cui_ico_app ,.cui_ico_wechat{
	display: inline-block;
    width: 20px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal{
    background-position: -64px 0;
}
.service_telnum{	
	color: #06c;
}
.cui_ico_app{
    background-position: 0 -56px;
}
.cui_ico_wechat{
    background-position: -20px -55px;
}
/*****************************导航栏样式*******************************************/
#header_nav{
	height: 40px;
	background-color: rgba(37,119,227);
}

#header_nav>ul{
	height: 40px;
}

#header_nav>ul>:first-child{
	width: 1026px;
}
/**头部导航栏    ----》登录*/
#header_nav>ul>:last-child{
	flex: 1;
}
.nav_menu{
	width: 970px;
	float: left;
	display: block;
	width: 100%;
 height: 40px;
background-color: #2577e3;
margin: 0 auto 54px;
}
.nav_menu>li{
	font-family: 'microsoft yahei', Arial, sans-serif;
    display: inline-block;
    height: 40px;
    float: left;
    text-align: left;
}
.nav_menu>li>a{
	position: relative;
	top: 8px;
	display: block;
	height: 40px;
	padding: 0 8px;
	color: #fff;
	scursor: pointer;
	font-size: 15px;
	margin: 0;
}
.label-cn{
	position: absolute;
z-index: 9;
right: 0px;
top: -14px;
display: inline-block;
padding: 0 2px;
height: 15px;
line-height: 15px;
background-color: #ff9913;
color: #fff;
}
em{
	transform: scale(.92);	
	font-size: 12px;
vertical-align: 2px;
}
/**导航条小图标**/
.cui_ico_triangle{
	display: inline-block;
width: 0;
height: 0;
overflow: hidden;
line-height: 0;
font-size: 0;
margin-left: 5px;
vertical-align: middle;
border-top: 3px solid #fff;
border-bottom: 0 none;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
}
/*******登录块**********/
#header_nav>ul>:last-child{
	position: relative;
z-index: 25;
right: 0;
top: 0;
width: 128px;
height: 40px;
padding: 0 5px 0 27px;
background: #ff9913 url(../img/img_head_language.png) no-repeat -59px -179px;
}
#header_nav>ul>:last-child>a,span{
	color: #fff;
font-size: 12px;
position: relative;
top: 5PX;


}
.my_color>a{
color: #fff;
font-size: 15px;
transition: all 0.2s ease 0s;
float: left;
position: relative;
	left: -20PX;
	bottom: -4PX;
}
.header_nav_select{
position: relative;
top: 15px;
height: 20px;
line-height: 22px;
overflow: hidden;
}
/****** 导航项   样式*********/
.line-list{
	display:block;
	list-style: none;
}
.line-list>li{
	position: relative;
	float: left;
	top: 10px;
	left: 18px;
    margin: 0 13px 0 0;
    line-height: 22px;
    list-style: none;
}
.line_title{
position: relative;
margin-top: 10px;
display: block;
padding: 0 5px;
background: #74a8ed;
color: #fff;
font-size: 12px;
font-weight: bold;
border-radius: 2px;
}
.line-list>li>i{
	display: inline-block;
    background-image: url(../img/img_head_nav_select.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}
.cui-icom-hotel{
background-position: -26px 0;
}
.cui-icom-flight{
	background-position: 0px 0px;
}
.cui-icom-car{
	background-position: -130px 0px;
}
.cui-icom-train{
	background-position: -52px 0px;
}
.cui-icom-outboundtravel{
	background-position: -25px -52px;
}
.cui-icom-hhtravel{
	background-position: -104px -25px;
}
.cui-icom-ticket{
	background-position: -26px -25px;
}
.cui-icom-visa{
	background-position: 0px -52px;
}
.cui-icom-insurance{
	background-position: -78px -28px;
}
.cui-icom-wifi{
	background-position: -130px -25px;
}
.cui-icom-pickup{
	background-position: -25px -78px;
}
.cui-icom-foreign{
	background-position: -52px -78px ;
}
/*****************************************************数据主体 组员从此往后写***********/
.path_bar2{
    width: 1180px;
    margin: 10px auto;
    padding: 0 10px;
    font-family: Simsun;
}
.path_bar2 a{
    color: #999;
}
.path_bar2 h1{
    display: inline;
    color: #666;
    font-family: Simsun;
    font-weight: normal;
}
.float_right{
    float: right!important;
}
.ico_fav, .ico_faved, .ico_print, .ico_correction, .ico_apply_join{
    padding: 2px 0 1px 20px;
    color: #16B;
    margin-left: 27px;
}
.ico_faved{
    display: none;
    background-position: 0 -158px;
    color: #999;
    cursor: default;
    white-space: nowrap;
}
.ico_correction{
	background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 -586px no-repeat  ;
}

.ico_print{
	background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 -551px no-repeat  ;
}
/********************************************************************************************/
.search_part{
    width: 1180px;
    height: 30 px;
    margin: 0 auto;
    padding: 0px 15px;
    background: #E3F2FF;
    font-size: 14px;
    border-top: 2px solid #5E9FFB;
    border-left: 1px solid #d9e8ff;
    border-right: 1px solid #d9e8ff;
}

.search_part .input_txtShort{
    width: 110px;
}
.search_part .ui_tips_help{
	margin-left: 3px;
    margin-right: 12px;
}
.search_part .input_txtLong{
	width: 150px;
}


.input_txt{
	height: 20px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-family: Arial;
}

.n_gstRoom{
	margin-right: 16px;
}
.n_gstRoom .n_gst_v{
	width: 52px;
}
.n_gstRoom .n_gst_p{
	width: 55px;
}
.n_gstRoom .n_gst_num li{
	padding-left: 3px;
}



.n_gst{
    display: inline-block;
    height: 26px;
    position: relative;
    z-index: 8;
    cursor: default;
    vertical-align: middle;
    font-size: 12px;
    color: #333;
    line-height: 2;
}

.n_gst_v{
    display: inline-block;
    padding-left: 3px;
    width: 106px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #ccc;
    line-height: 24px;
    cursor: default;
    vertical-align: top;
    font-size: 12px;
}
.n_gst_tri{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 5px 5px 0;
    border-color: #666 transparent transparent;
    border-style: solid dashed dashed;
}

.n_gst_p{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 26px;
    width: 248px;
    border: 1px solid #ccc;
    background: #fff;
}


.ui_tips_help{
	display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    cursor: help;
    background:url(../img/search_jinglintu/icon_hotel_v2.png) no-repeat 0 -82px;
}

.btn_search{
	display: inline-block;
    width: 94px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
    padding-bottom: 4px;
    padding-bottom: 0\9;
    border: 1px solid #05a;
    border-radius: 3px;
    background-color: #27c;
    color: #fff;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
    line-height: 22px\9;
    font-family: "Microsoft Yahei",Simsun,sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 1px 0 rgba(51,119,187,0.7);
    outline: none;
}
/*******************************************************************************************/
.main-detail-wrapper{
	width: 1180px;
	margin: 10px auto;
	display: flex;
	flex-flow: row nowrap;
}
.detail_main{
	width: 860px;
	margin-right: 20px;
}

.htl_info{
/*	height: 156.2px;*/
	padding-bottom: 8px;
}

.htl_info .name{
    margin-bottom: 4px;
    max-width: 570px;
}
.htl_info .name .cn_n{
    display: inline-block;
    vertical-align: bottom;
    font: bold 20px/22px "microsoft yahei",simsun;
    color: #06c;
}
.htl_info .name .label_selection{
	position: relative;
	top: -3px;
	display: inline-block;
    vertical-align: 2px;
    margin-right: 5px;
    width: 36px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: #ff4318;
    background-image: linear-gradient(to right,#ff2102,#ff632d);
    border-radius: 3px;
}
.htl_info .en_n{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 4px;
    font: 12px Arial;
    color: #333;
}

.htl_info .medal{
    margin-left: 8px;
    vertical-align: bottom;
}
.hotel_strategymedal{
	    display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 -27px no-repeat;
}

.htl_info .ico_quality_gold{
	vertical-align: bottom;
}
.ico_quality_gold{
    display: inline-block;
    padding: 0 5px;
    margin-left: 8px;
    color: #ff9913;
    background-color: #feedd5;
    border-radius: 3px;
}

.htl_info .grade{
    overflow: hidden;
}

.htl_info .grade span{
   position: relative;
   top: -3px;
    display: inline-block;
    width: 47px;
	height: 12px;
	vertical-align: middle;
	background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 3px no-repeat;
	
}

.htl_info .special_label{
    display: inline-block;
    margin-left: 3px;
}
.htl_info .special_label .i_label{
    border: 1px solid #7be;
    color: #fff;
    background-color: #7be;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    margin-left: 3px;
    height: 16px;
    line-height: 16px;
    font-style: normal;
}

.htl_info .special_label .i_t_orange{
	display: inline-block;
    height: 16px;
    line-height: 16px;
    font-style: normal;
    margin-left: 3px;
    color: #ff9a14;
}

.htl_info .address{
    margin-bottom: 5px;
    line-height: 25px;
}
.htl_info .address span{
	color: #333333;
}
.htl_info .address a{
	color: #0066CC;
	cursor: pointer;
}

.icon_list{
	margin-bottom: 3px;
    line-height: 23px;
}
.icon_list .icon_list_map{
	display: inline-block;
    margin-right: 20px;
    height: 16px;
    line-height: 16px;
    color: #06c;
    vertical-align: middle;
    white-space: nowrap;
}
.icon_list i{
	vertical-align: middle;
}
.icons-facility01,.icons-facility03 ,.icons-facility13 ,.icons-facility28 ,.icons-facility16{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 21px;
    height: 21px;
	background: url(../img/search_jinglintu/icon_facility.png);
	background-repeat: no-repeat;
}
.icons-facility03{
    background-position: -60px 0;
}
.icons-facility13{
    background-position: 0px -60px;
}
.icons-facility28{
    background-position: -90px -120px;
}
.icons-facility16{
    background-position: -90px -60px;
}

.ico_unfavorite{
    position: relative;
    top: -5px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 2px 22px;
    margin-top: -2px;
    margin-right: 10px;
    height: 16px;
    line-height: 14px;
    color: #06c;
    overflow: hidden;
    background: url(../img/search_jinglintu/icon_hotel_v2.png) -128px 3px no-repeat;
}
/******************************************************************************************/
.htl_pic{
	width: 860px;
	height: 224px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.htl_pic>div{
	width: 290px;
	height: 224px;
}

.htl_pic>ul{
	width: 564px;
	height: 224px;
	display: flex;
	flex-flow: column nowrap;
	justify-content:space-between ;
}
.htl_pic>ul>:first-child{
	margin-bottom: 6px;
}

.htl_pic>ul>li{
	width: 564px;
	height: 109px;
	display: flex;
	flex-flow: row nowrap;
}

.htl_pic>ul>li>:not(last-child){
	margin-right: 6px;
}

/****************************************************************************/

.ad_box{
	width: 860px;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #c2e0ff;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-flow: row nowrap;
}
.bannerLogin{
	display: inline-block;
	width: 760px;
    height: 38px;
    padding-right: 100px;
    margin-bottom: 5px; 
    line-height: 38px;
    text-align: center;
    background: url(../img/search_jinglintu/banner_login.png) repeat-x #e7f3ff;
    font: 20px/40px "Microsoft Yahei",Simsun,sans-serif;
    cursor: pointer;
}

.bannerLogin-btn{
	display: inline-block;
    margin: -1px -100px 0 0;
    width: 100px;
    height: 38px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    background-color: #2276cc;
    -webkit-transition: background-color 0.15s;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.bannerLogin>.bannerLogin-txt{
	position: relative;
    display: inline-block;
    padding: 0 10px 0 75px;
    height: 38px;
    font-size: 20px;
    color: #3298ff;
    background-color: #e7f3ff; 
}
.ico-face{
    position: absolute;
    left: 10px;
    top: 0px;
    width: 55px;
    height: 38px;
    background: url(../img/search_jinglintu/banner_login.png)  no-repeat 0 -40px;
}
/**********************************************************************************/
.hotel_tabs_box{
	width: 860px;
    height: 37px;
    margin-bottom: 10px;
    border-bottom: 1px solid #74A2DE;
}

.hotel_tabs_box>ul{
	width: 860px;
    height: 37px;
    display: flex;
    flex-flow: row nowrap;
}
.hotel_tabs_box>ul>li{
	width: 144px;
	height: 38px;
	margin-right: 3px;
	border-top: 1px solid #B5CCE9;
    border-right: 1px solid #B5CCE9;
    border-left: 1px solid #B5CCE9;
    border-radius: 2px 2px 0 0;
    color: #444;
}
.hotel_tabs_box>ul>.border-b{
	border-bottom: 1px solid #FFFAF0 !important;
	z-index: 1;
}

.hotel_tabs_box>ul>li>a{
	display: block;
    height: 36px;
    padding-top: 5px;
    color: #444;
    text-align: center;
    font-size: 16px;
}

/************************************************************************/
.room_select_box{
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.date_change_box2{
    padding: 10px 10px 8px;
    
}

.left{
	width: 836px;
	height: 36px;
}
.date_form{
	height: 35px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
}
.date_form_inputs{
    width: 283px;
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    line-height: 33px;
}
.date_form_label{
	display: inline-block;
	float: left;
    position: relative;
    z-index: 1;
    width: 141px;
    height: 33px;
    color: #999;
    text-indent: 15px;
    background-color: #fff;
}
.input_txt{
    /*position: absolute;*/
    z-index: 1;
    left: 0;
    top: 0;
    height: 27px;
    /*border: 0 none;*/
    /*padding-left: 54px;*/
    font-size: 14px;
    line-height: 27px\9;
    /*background: none;*/
    text-indent: 0;
}
.date_change_box2 .date_form_line{
	display: inline-block;
	float: left;
    width: 1px;
    background: #c6c6c6;
    height: 33px;
    overflow: hidden;
}

.date_form_selects{
    display: inline-block;
    float: left;
    width: auto;
    margin-left: 10px;
    line-height: 33px;
}
.n_gstRoom{
    margin-right: 16px;
}
.n_gst{
    display: inline-block;
    height: 26px;
    position: relative;
    z-index: 8;
    cursor: default;
    vertical-align: middle;
    font-size: 12px;
    color: #333;
    line-height: 2;
}
.n_gst_v{
    display: inline-block;
    padding-left: 3px;
    width: 106px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #ccc;
    line-height: 24px;
    cursor: default;
    vertical-align: top;
    font-size: 12px;
}
.n_gst_tri{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 5px 5px 0;
    border-color: #666 transparent transparent;
    border-style: solid dashed dashed;
}
.n_gstRoom .n_gst_p{
    width: 55px;
}
.n_gst_p{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 26px;
    width: 248px;
    border: 1px solid #ccc;
    background: #fff;
}
.n_gstRoom .n_gst_num li{
	padding-left: 3px;
}

.date_change_box2 .btn{
	    float: left;
    padding: 0 15px;
    margin-left: 10px;
    height: 35px;
    background-color: #46a0fc;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.right{
	width: 836px;
	height: 29px;

}
.c_sort{
	    font-family: Arial,simsun;
}

.c_sort li{
	position: relative;
    float: left;
    display: inline;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
}
.c_sort_price .c_sort_links{
    max-width: 72px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.c_sort_links_multiple .c_sort_links{
    padding-right: 24px;
    text-align: center;
}
.c_sort_links{
	position: relative;
    z-index: 1;
    display: inline-block;
    border: 1px solid #c6c6c6;
    padding: 0 15px;
    line-height: 23px;
    font-size: 12px;
    color: #666;
    border-radius: 3px;
}
.icon_links_dropdown{
    display: block;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 8px;
    width: 13px;
    height: 8px;
    overflow: hidden;
    background-position: -114px -364px;
    background-image: url(../img/search_jinglintu/un_detail_v1.png);
    background-repeat: no-repeat;
}
.c_sort_links_multiple .multiple_menu{
	position: absolute;
	display: none;
    z-index: 1;
    border: 1px solid #46a0fc;
    background: #fff;
    left: 0;
    top: 24px;
    text-align: center;
    border-radius: 0 0 3px 3px;
}
.c_sort_price .multiple_menu{
	width: 100px;
}
.c_sort_links_multiple .multiple_menu a:hover, .c_sort_links_multiple .multiple_menu .choosed{
	text-decoration: none;
    background-color: #46a0fc;
    color: #fff;
}
.c_sort_links_multiple .multiple_menu a{
    display: block;
    line-height: 25px;
    color: #46a0fc;
}
dfn{
	    font: normal 12px Arial;
}
.available_coupon_pop{
    width: 230px;
    border: 1px solid #67a1e2;
    background-color: #fff;
    padding: 10px 15px;
    position: absolute;
    left: 0;
    top: 25px;
    cursor: default;
    z-index: 2;
}
.hidden{
	display: none!important;
}
.c_sort_price .multiple_menu .custom_range{
	display: block;
    padding: 5px 0;
    border-top: 1px solid #c6c6c6;
}
.sort_box2{
	width: 856px;
	height: 88.4px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    z-index: 1;
    zoom: 1;
} 

.sort_type{
	display: inline-block;
    margin: 6px 6px 6px 0;
    zoom: 1;
}
.sort_type .sort_title{
    font-size: 12px;
    font-family: "SimSun";
    color: #999999;
    text-align: center;
    display: inline-block;
    padding-right: 6px;
    height: 25px;
    line-height: 25px;
    zoom: 1;
}
.sort_type .sort_list{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.sort_type .sort_item:first-child{
	    border-radius: 3px;
}
.sort_type .sort_item{
	font-size: 12px;
    font-family: "SimSun";
    color: #666666;
    text-align: center;
    border: 1px solid #c6c6c6;
    text-decoration: none;
    padding: 0px 9px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-left: -1px;
    position: relative;
}
.sort_type .sort_item:last-child{
	    border-radius: 3px;
}
.sort_box2 .btn_clear{
    float: right;
    margin-top: 6px;
    margin-bottom: 0;
    z-index: 1;
}
.sort_btn{
   	 display: inline-block;
    margin: 0;
    zoom: 1;
}
/**************************************************************************/
.c_roomList{
	width: 856px;
	height: 41.6px;
	display: flex;
	flex-flow: row nowrap;
	background-color: #CCCCCC;
}

.c_roomList>li{	
	padding: 10px 2px;
	text-align: start;
}
/*****************************************************************************/
.last_room{
	width: 856px;
	height: 97.6px;
	display: flex;
	flex-flow: row nowrap;
}

.left_head{
	/*width: 149.6px;*/
	height: 97px;
    padding-top: 25px;
    border-top: 3px solid #fba62c;
    border-left: 3px solid #fba62c;
    border-bottom: 3px solid #fba62c;
    border-right: 1px solid #CCCCCC;
}
.left_head>a{
	display: inline-block;
	
}
.left_head>.room_pic>img{
	
	width:50px;
	height: 50px;
	margin-left: 20px;
	margin-right: 3px;
	border-radius: 3px;
}
.left_head>.room_info{
	position: relative;
	top: -7px;
	width: 74px;
	color: #0066CC;
	font-weight: bold;
	margin-right: 11px;
	
}
.left_head>.room_info>p{
	color: #333333;
}
.right_body{
    
    padding-top: 25px;
	border-top: 3px solid #fba62c;
	border-bottom: 3px solid #fba62c;
	border-right: 3px solid #fba62c;
	display: flex;
	flex-flow: row nowrap;
}

.right_body>div{
	margin-left: 5px;
	margin-right: 5px;
}
.right_body>div>span{
	color: #333333;
}
.right_body>div>p{
	width: 28px;
	margin-top: 5px;
	background-color:  #00aea8;
	color: #FFFFFF;
	text-align: center;
}
.htl_room_person02{
	display: inline-block;
	width: 25px;
    padding-bottom: 2px;
    margin-top: 2px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    background: url(../img/search_jinglintu/un_detail_v1.png) -193px -585px no-repeat;
    cursor: pointer;
}

.room_policy{
    border-bottom: 1px dashed #4D4D4D;
    cursor: default;
    display: inline-block;
}
.confirm_green{
    display: block;
    margin-top: 2px;
}
.base_price{
	display: inline-block;
    vertical-align: top;
    font: normal 18px Tahoma;
    
}

.base_price>dfn{
	margin-right: 2px;
    color: #666;
    font-size: 12px;
    vertical-align: 4px;
}

.book_type{
	display: block;
	width: 76px;
	height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background: #ff9a14;
    border-radius: 3px 3px 0 0;
    text-align: center;
    cursor: pointer;
}

.online_pay{
    display: block;
    width: 76px;
    border: 1px solid #ffd092;
    border-top: none;
    height: 14px;
    line-height: 14px;
    color: #ff7d15;
    background: #ffecd2;
    border-radius: 0 0 3px 3px;
     text-align: center;
}

.hotel_room_last{
    padding-left: 5px;
    color: #BB0000;
    text-align: center;
}

/*********************************************************************************/
.classify-hd{
    padding: 10px;
    background-color: #d3ecfd;
    font-weight: bold;
}
/*********************************************************************************/
.left_head2{
    height: 97px;
    padding-top: 25px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 1px solid #CCCCCC;
}

.left_head2>a{
	display: inline-block;
	
}
.left_head2>.room_pic>img{
	
	width:50px;
	height: 50px;
	margin-left: 20px;
	margin-right: 3px;
	border-radius: 3px;
}
.left_head2>.room_info{
	position: relative;
	top: -7px;
	width: 74px;
	color: #0066CC;
	font-weight: bold;
	margin-right: 11px;
	
}
.left_head2>.room_info>p{
	color: #333333;
}

.right_body2{
	padding-top: 25px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-right: 3px solid transparent;
	display: flex;
	flex-flow: row nowrap;
}

.right_body2>div{
	margin-left: 5px;
	margin-right: 5px;
}
.right_body2>div>span{
	color: #333333;
}
.right_body2>div>p{
	width: 28px;
	margin-top: 5px;
	background-color:  #00aea8;
	color: #FFFFFF;
	text-align: center;
}









/**************************************************************************/
.detail_side{
	width: 300px;
}






/*******************************页尾****************************/
footer{
	margin: 0 auto;
	width: 1180px;
	height: 122.367px;
	/*background-color: #FF988F;*/
	margin: 28px auto 45px;
	text-align: center;
	color: #999;
	line-height: 2.5;
}
.icon-gns{
display: inline-block;
width: 20px;
height: 20px;
margin-right: 3px;
background-position: 0 -235px;
vertical-align: middle;
background-image: url(../img/img_yewei.png);
background-color: #fff;
background-repeat: no-repeat;
}
.honour_wrap{
	display: inline-block;
	padding-top: 10px;
	text-align: left;
}
.honour_wrap>:nth-child(n){
    height: 32px;
    margin: 0 4px;
	text-indent: 36px;
	float: left;
	border: 1px solid #d1d1d1;
	background-repeat: no-repeat;
	border-radius: 2px;
	font: 12px/32px Simsun;
	background-color: #fff;
	background-image: url(../img/img_yewei.png);
}
.honour1{
	background-position: -88px -50px;
}
.honour2{
	background-position: -88px -85px;
}
.honour3{
	background-position: 0 -50px;
	width: 88px;
}
.honour4{
	background-position: -88px -118px;
}
.honour5{
	background-position: 0 -387px;
	width: 116px;
}
.honour6{
	background-position: 0 -118px;
	width: 88px;
}
.honour7{
	background-position: 0 -193px;
width: 90px;
}
.honour8{
	background-position: 0 -350px;
width: 102px;
}
.honour9{
	background-position: 0 -429px;
width: 102px;
}
.honour10{
	background-position: 0 -155px;
width: 114px;
}
.honour11{
	background-position: 0 -480px;
width: 50px;
}


