*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: arial,"微软雅黑";
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
		color: #4c4c4c;
    font-size: 12px;
}

body{
	/*width: 1180px;*/
	background-color: #FAFAFA;
	outline: none;
}
/*头部-header-*/
header{
	width: 100%;
	height: 148px;
}
#log_language{
	height: 68px;
	background-color: #F5F5F5;
}
/*   *********头部搜索栏**/
header ul{
	width: 1180px;
	margin: 0 auto;
	/*background-color: skyblue;*/
	display: flex;
	justify-content: space-between;
}
.head_input{
	height: 68px;
}
.head_input>li{
	width: 50%;
}
/**左侧log*/
.head_input>li>a>img{
	margin: 12px auto;
}
.head_input>li>input{
	position: relative;
	top: -25px;
	left: 40px;
	width: 336px;
	height: 28px;;
	border: rgba(164,203,255) solid 0.1px;
	border-radius:4px 0 0 4px;
	margin: 12px auto;
}
/****头部搜索栏****/
.head_input>:nth-child(1)>button{
	position: relative;
	border-style: groove;
	border-radius: 0 4px 4px 0;
	top: -65px;
	left: 500px;
	display: block;
    width: 45px;
    height: 28px;
    cursor: pointer;/*鼠标放上去样式**/
    background-position: -52px -606px;
    background-image: url(../img/img_head_language.png);
    background-color: rgba(164,203,255);
    background-repeat: no-repeat;
}

/***右侧语言栏****/
.language{
	width: 350px;
	float: right;
	position: relative;
	top: 25px;
}
.arrow{
	display: inline-block;
    width: 9px;
    height: 5px;
    margin-left: 5px;
	background-position: -22px -264px;
	background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal ,.cui_ico_app ,.cui_ico_wechat{
	display: inline-block;
    width: 20px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal{
    background-position: -64px 0;
}
.service_telnum{	
	color: #06c;
}
.cui_ico_app{
    background-position: 0 -56px;
}
.cui_ico_wechat{
    background-position: -20px -55px;
}
/*****************************导航栏样式*******************************************/
#header_nav{
	height: 40px;
	background-color: rgba(37,119,227);
}

#header_nav>ul{
	height: 40px;
}

#header_nav>ul>:first-child{
	width: 1026px;
}
/**头部导航栏    ----》登录*/
#header_nav>ul>:last-child{
	flex: 1;
}
.nav_menu{
	width: 970px;
	float: left;
	display: block;
	width: 100%;
 height: 40px;
background-color: #2577e3;
margin: 0 auto 54px;
}
.nav_menu>li{
	font-family: 'microsoft yahei', Arial, sans-serif;
    display: inline-block;
    height: 40px;
    float: left;
    text-align: left;
}
.nav_menu>li>a{
	position: relative;
	top: 8px;
	display: block;
	height: 40px;
	padding: 0 8px;
	color: #fff;
	scursor: pointer;
	font-size: 15px;
	margin: 0;
}
.label-cn{
	position: absolute;
z-index: 9;
right: 0px;
top: -14px;
display: inline-block;
padding: 0 2px;
height: 15px;
line-height: 15px;
background-color: #ff9913;
color: #fff;
}
em{
	transform: scale(.92);	
	font-size: 12px;
vertical-align: 2px;
}
/**导航条小图标**/
.cui_ico_triangle{
	display: inline-block;
width: 0;
height: 0;
overflow: hidden;
line-height: 0;
font-size: 0;
margin-left: 5px;
vertical-align: middle;
border-top: 3px solid #fff;
border-bottom: 0 none;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
}
/*******登录块**********/
#header_nav>ul>:last-child{
	position: relative;
z-index: 25;
right: 0;
top: 0;
width: 128px;
height: 40px;
padding: 0 5px 0 27px;
background: #ff9913 url(../img/img_head_language.png) no-repeat -59px -179px;
}
#header_nav>ul>:last-child>a,span{
	color: #fff;
font-size: 12px;
position: relative;
top: 5PX;


}
.my_color>a{
color: #fff;
font-size: 15px;
transition: all 0.2s ease 0s;
float: left;
position: relative;
	left: -20PX;
	bottom: -4PX;
}
.header_nav_select{
position: relative;
top: 15px;
height: 20px;
line-height: 22px;
overflow: hidden;
}
/****** 导航项   样式*********/
.line-list{
	display:block;
	list-style: none;
}
.line-list>li{
	position: relative;
	float: left;
	top: 10px;
	left: 18px;
    margin: 0 13px 0 0;
    line-height: 22px;
    list-style: none;
}
.line_title{
position: relative;
margin-top: 10px;
display: block;
padding: 0 5px;
background: #74a8ed;
color: #fff;
font-size: 12px;
font-weight: bold;
border-radius: 2px;
}
.line-list>li>i{
	display: inline-block;
    background-image: url(../img/img_head_nav_select.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}
.cui-icom-hotel{
background-position: -26px 0;
}
.cui-icom-flight{
	background-position: 0px 0px;
}
.cui-icom-car{
	background-position: -130px 0px;
}
.cui-icom-train{
	background-position: -52px 0px;
}
.cui-icom-outboundtravel{
	background-position: -25px -52px;
}
.cui-icom-hhtravel{
	background-position: -104px -25px;
}
.cui-icom-ticket{
	background-position: -26px -25px;
}
.cui-icom-visa{
	background-position: 0px -52px;
}
.cui-icom-insurance{
	background-position: -78px -28px;
}
.cui-icom-wifi{
	background-position: -130px -25px;
}
.cui-icom-pickup{
	background-position: -25px -78px;
}
.cui-icom-foreign{
	background-position: -52px -78px ;
}

/*********************************************************************************/

section{
	width: 1200px;
	height: 2900px;
	margin: 10px auto ; 
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
.leftSide{
	width:380px ;
	height:2920px;
	
	display: flex;
	flex-flow: column nowrap;
}
/*1111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/
.search{
	height: 410px;
	background-color: #3983E5;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	
}
.search_top{
	height: 38px;
	font: normal 18px "Microsoft Yahei";
	color: #fff;
}
.search_top>b{
	float: left;
    width: 18px;
    height: 13px;
    background: url(../img/un_index.png);
    background-position: -48px -108px;
    margin: 5px 10px 0 10px;
    background-position: -48px -108px;
    overflow: hidden;
}
.search_choose{
	width: 368px;
	height: 42px;
    padding-top: 12px;
    margin-left: 6px;
    background-color: #f5f5f5;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
}
.search_choose lable{
	cursor: pointer;
}
.search_body{
	position: relative;
	width: 368px;
	height: 252px;
	margin-left: 6px;
	background-color: #FFFFFF;

}
.search_body th{
	width: 91px;
	height: 43px;
	padding: 5px 0 5px 5px;
	vertical-align: middle;
	font: "微软雅黑",normal,14px;
	font-weight: normal;
	text-align: right;
}
.search_body td{
	
	right: -3px;
	width: 277px;
	height: 43px;
	display: table-cell;
    vertical-align: inherit;
}
.input_city{
	width: 139px;
	height: 30px;
	padding-left: 3px;
	border: 1px solid #bbb #ddd #ddd #bbb;
	box-shadow: 1px 1px 1px #DDDDDD inset;
}
.searchHistory{
	position: absolute;
	left: 233px;
	top: 5px;
	width: 91px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: orange;*/
	
}
.headline{
	position: relative;
	display: block;
	width: 91px;
	height: 30px;
	text-align: left;
	text-decoration: none;
    font: 14px/20px "Microsoft Yahei" ;
    color: #333;
}

.searchHistory:active .headline{
	border: 1px solid #C5C5C5;
    border-bottom: 1px solid #fff;
}
.searchHistory b{                               /*向下箭头*/
	display: inline-block;
	margin-left: 1px;
	overflow: hidden;
	width: 0;
	height: 0;
    vertical-align: middle;
	border-top: 5px solid #333333;
	border-right:5px solid transparent ;
	border-left:5px solid transparent ;
}
/*???????????????????????????????????????????????????????????????????*/
.searchHistory:active .history_list{
	display: block;
}
.searchHistory>.headline:hover{
	color: #2577E3;
}

.searchHistory>.headline>b:hover{
	border-top: 5px solid #2577E3;
}
.history_list{
	position: absolute;
	display: none;
	width: 192px;
	height: 26px;
	right: 0;
	top: 30px;
	border: 1px solid #C5C5C5;
    background-color: #fff;
}
.history_list>div{
	position: absolute;
	width: 12;
	height: 12;
	background-color: orange;
}
/*````````````````````````````````````````````````````````````````````````````````````*/
.input_text2{
	width: 232px;
	height: 30px;
	padding-left: 3px;
	border: 1px solid #bbb #ddd #ddd #bbb;
	box-shadow: 1px 1px 1px #DDDDDD inset;
}
/*``````````````````````````````````````````````````````````````````````````````````````*/
#searchHotelLevelSelect{
	width: 232px;
	height: 21px;
}
#txtKeyword{
	width: 232px;
	height: 30px;
}
/*````````````````````````````````````````````搜索栏最底部`````````````````````````````````````*/
.search_bottom{
	width: 368px;
	height:70px;
	padding: 0 10px 17px 91px;
	margin-left: 6px;
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
	display: flex;
	
}
.search_btn2{
    width: 267px;
    height: 43px;
    margin: 0;
}
.btn_search{
	 width: 232px;
    height: 43px;
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft Yahei",Simsun,sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 0 rgba(95, 50, 0, 0.7);
    border-radius: 3px;
	text-shadow: 1px 1px 0 #CF7000;
    background-color: #ffb000;
    border: solid 1px #E77C00;
}
/************************************店铺***********************************************/
.storeEnter{
	width: 380px;
	height: 233px;
	margin-bottom: 20px;
	font-family: "Microsoft Yahei",Simsun,sans-serif;
    background-color: #fff;
}
.storeEnter_hd{
	padding: 10px 95px 10px 85px;
    min-height: 62px;
    border: 1px solid #E5E5E5;
    border-bottom: 0 none;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.storeEnter_hd>span{
	display: inline-block;
	margin-left: -75px;
    width: 62px;
    height: 62px;
    background: url(../img/un_index_hyatt_v1.png);
    background-position: 0 -160px;
}
.btn{
	margin: 16px -85px 0 0;
    width: 72px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #2676e3;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.name{
	padding-top: 4px;
    font-size: 20px;
    line-height: 26px;
    
}
.tag{
	display: inline-block;
	padding: 0 4px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    background-color: #7be;
    border-radius: 3px;
    transform: translateY(-8px);
}
.storeEnter_bd{
	height: 150px;
    border-radius: 0 0 5px 5px;
    background: url(../img/un_index_hyatt_v1.png);
    display: block;
}
.adv_clearfix{
	display: block;
    padding-top: 70px;
}
.adv_clearfix>li{
	display: inline-block;
	width: 124px;
	height: 61px;
	margin: 0;
}
.ico{
	display: inline-block;
	width: 124px;
	height: 40px;
	text-align: center;
}

.ico-discount{
	display: inline-block;
	width: 32px;
    height: 26px;
    background: url(../img/un_index_hyatt_v1.png);
    background-position: -80px -160px;
}
.ico-points{
	display: inline-block;
	width: 32px;
    height: 26px;
    background: url(../img/un_index_hyatt_v1.png);
    background-position: -120px -160px;
}
.ico-exchange{
	display: inline-block;
	width: 32px;
    height: 26px;
    background: url(../img/un_index_hyatt_v1.png);
    background-position: -160px -160px;
}
.txt{
	text-align: center;
	font-family:"Microsoft Yahei",Simsun,sans-serif ;
	color: #FFFFFF;
	    
}
/***********************************************************************************************************/

.logo2{
	background: url(../img/logoform-s62.png);
}
.name2{
	padding-top: 4px;
    font-size: 20px;
    line-height: 26px;
    
}
.name2>.tag{
	display: block;
	width: 32px;
	height: 18px;
	justify-content: flex-start;
	align-items: flex-end;
}
.leftSide>:nth-child(3)>.storeEnter_bd li{
	display: inline-block;
	flex: 1;
}
.leftSide>:nth-child(3)>.storeEnter_bd p{
	width: 95px;
	
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.index_history{
	width: 380px;
	height: 289px;
}
.index_history>h2{
	height: 34px;
    margin-bottom: 3px;
    font: normal 22px/34px "Microsoft Yahei";
}
.index_history>.index_history_div{
	height: 252px;
	display: flex;
	flex-flow: row wrap;

}
.index_history_div>div{
	width: 380px;
	height: 85px;
	display: flex;
	flex-flow: row nowrap;
}
.index_history_div>div>.index_history_div_01{
	width: 64px;
	height: 64px;
	background-image: url(../img/CggYG1al.jpg) ;
	border-radius: 5px;
}
.index_history_div>div>.index_history_div_02{
	width: 316px;
	height: 85px;
}
.index_history_div>div>.index_history_div_02>a{
	display: block;
    font: bold 14px/18px Simsun;
    color:#0066CC;
    max-height: 36px;
    _height: 36px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;
    margin-right: 30px;
}
.hotel_diamond04{
	display: inline-block;
	width: 47px;
    height: 10px;
	overflow: hidden;
    vertical-align: middle;
    background: url(../img/un_index.png) no-repeat ;
    background-position: -48px -45px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.find_hotel{
    width: 380px;
    height: 220px;
    padding: 14px 18px 14px 18px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.fh_hd{
	width: 342px;
	height: 34px;
	border-bottom: 1px solid #d4d4d4;
    margin-bottom: 9px;
    padding: 0 0 6px 0;
    font-family: 'microsoft yahei', simsun, sans-serif;
    font-size: 18px;
}
.fh_bd{
	width: 342px;
	height: 147px;
}
.fh_info{
   width: 342px;
   height: 89px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.fh_info_01{
	width: 137px;
	height: 93px;
	margin-right: 10px;
}
.fh_info_01>a>img{
    width: 137px;
    height: 93px;
    border-radius: 8px;
}
.fh_info_02{
	width: 200px;
	height: 93px;
}
.fh_tit{
	margin-bottom: 3px;
    padding-top: 8px;
    font-size: 18px;
    font-family: 'microsoft yahei', simsun, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn_action{
	display: block;
    padding: 7px 0;
    padding: 9px 0 5px;
    border: 1px solid #88b6e3;
    color: #0066cc;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'microsoft yahei', simsun, sans-serif;
    border-radius: 3px;
}
.ico_arr_r{
	    display: inline-block;
    width: 10px;
    height: 18px;
    margin-left: 19px;
    background: url(../img/un_index.png);
    background-position: -120px -320px;
    vertical-align: -3px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.divDailySpecial{
    position: relative;
    display: block;
    width: 380px;
    height: 176px;
    border: 5px solid #ffd33a;
}
.divDailySpecial>a{
	display: block;
	width: 370px;
	height: 166px;
	background: url(../img/guanggao.jpg);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.side_sales{
	width: 380px;
	margin-top:25px;
}
.side_sales>h2{
    height: 34px;
    margin-bottom: 3px;
    font: normal 22px/34px "Microsoft Yahei";
}
.icon_sale{
	position: absolute;
	top: 2244px;
	left: 180px;
	display: block;
	width: 45px;
    height: 28px;
    margin: -5px 0 0 4px;
    background-position:-118px -139px;
	background: url(../img/sale.png) no-repeat;
}
.side_sales a{
	overflow: hidden;
    margin-bottom: 5px;
    border: solid 1px #dedede;
    display: inline-block;
    border-radius: 5px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rightSide{
	width: 780px;
	height: 2068px;
	margin-left: 20px;
	
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main_lunbo{
	position: relative;
	width: 780px;
	height: 235px;
	overflow:hidden;
}
#box{
	position: absolute;
	width:6240px;
	height: 235px;
	transition: all 0.2s ease;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

#box>a{
	display: block;
	text-decoration: none;
	flex: 1;
	background: center no-repeat;
}
#box>:nth-child(1){
	background-image: url(../img/lunbo01.jpg);
}
#box>:nth-child(2){
	background-image: url(../img/lunbo02.jpg);
}
#box>:nth-child(3){
	background-image: url(../img/lunbo03.jpg);
}
#box>:nth-child(4){
	background-image: url(../img/lunbo04.jpg);
}
#box>:nth-child(5){
	background-image: url(../img/lunbo05.jpg);
}
#box>:nth-child(6){
	background-image: url(../img/lunbo06.jpg);
}
#box>:nth-child(7){
	background-image: url(../img/lunbo07.jpg);
}
#box>:nth-child(8){
	background-image: url(../img/lunbo08.jpg);
}

.main_lunbo>ul{
    position: absolute;
    bottom: 10px;
    height: 15px;
    margin: 0 auto;
   	width: 780px;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.main_lunbo>ul>li{
	display: inline-block;
    overflow: hidden;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid #fff;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    list-style: none;
    background-color: #0ab0e8;
}
.nowLi{
	background-color: #f8cd47 !important;

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.nearby_ht1_box{
	width: 780px;
	margin-top: 10px;
}
.nearby_ht1_filter{
	position: relative;
	height: 36px;
	border-bottom: 2px solid #5599DD;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}
.nearby_ht1_filter>a{
	position: absolute;
    right: 0;
    padding-top: 10px;
    color: #0066CC;
}
.nearby_ht1_filter>h2{
    height: 34px;
    margin-bottom: 3px;
    font: normal 22px/34px "Microsoft Yahei";
}
.nearby_ht1_filter>ul{
	width: 258px;
	height: 30px;
	margin-left: 10px;
	display: flex;
	flex-flow: row nowrap;
}
.nearby_ht1_filter>ul>li{
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.nearby_ht1_filter>ul>li>a{
	display: block;
	width: 42px;
	height: 22px;
	padding: 2px 9px;
    color: #333;
    cursor: pointer;
}

.current{
	width: 0;
	height: 0;
	margin-top: 2px;
	border-width: 0 6px 6px;
	border-style: solid;
	border-color:transparent transparent #0066CC transparent;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.landmark_warp{
	height: 102px;
	border:1px solid #E2E2E2;
	border-top: 0 none;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}
.landmark_warp_01{
	position: relative;
	width: 70px;
	height: 102px;
	/*background-color: yellow;*/
	display: flex;
	
}
.landmark_warp_01>:nth-child(1){
	position: absolute;
	top: 0;
	margin: 0 9px;
	width: 52px;
    height: 0;
	border: 3px solid #fff;
    border-top: 3px solid #59d;
    overflow: hidden;
}
.landmark_warp_01>:nth-child(2){
    position: absolute;
    right: -10px;
    width: 10px;
    height: 102px;
    background: url(../img/un_index.png) no-repeat;
    background-position: 0 -45px;
}
.landmark_warp_01>a{
	display: block;
	width: 70px;
	height: 102px;
	padding: 6px;
	color: #06c;
    font: 14px/20px "microsoft yahei";
    cursor: default;
}
.icon{
	display: block;
    width: 20px;
    height: 20px;
    margin: 28px auto 6px;
    background: url(../img/un_index.png) no-repeat;
    background-position:-18px -45px ;
}
.landmark_warp_02{
	width: 638px;
	height: 102px;
	/*background-color: yellow;*/
	display: flex;
	flex-flow: row nowrap;
}
.landmark_warp_02>li{
	width: 91px;
	height: 102px;
}
.landmark_warp_02>li>a{
	width: 91px;
	height: 102px;
	padding: 10px 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.landmark_warp_02>li>a>img{
	display: block;
	
}
.landmark_warp_03{
	flex: 1;
	border-left: 1px solid #E2E2E2;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.landmark_warp_03>a{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.landmark_warp_03>a>span{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/un_index.png) no-repeat center;
    background-position: -19px -135px;
}
/****************************************************************************************************/
.second_lunbo{
	position: relative;
	width: 780px;
	height: 180px;
	overflow: hidden;
}
/*#box2{
	position: absolute;
	width:3900px;
	height: 180px;
	transition: all 0.2s ease;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}*/
.second_lunbo>div{
	width: 3900px;
	height: 180px;
}
.second_lunbo>ul{
	position: absolute;
	top: 0;
	right: 0;
	width:120px;
	height: 181px;
	display: flex;
	flex-flow: column wrap;
}
.second_lunbo>ul>li{
	display: inline-block;
	flex: 1;
	padding: 0 10px;
	margin-bottom: 1px;
	height: auto;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	line-height: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
.second_lunbo>ul>li>a{
	color: #FFFFFF;
	font-size: 13px;
}
.cover{
	background-color: #2577E3 !important;
}
/****************************************************************************************************/
.hot_sold_title{
	position: relative;
	height: 50px;
	margin-bottom: 10px;
	border-bottom: 3px solid #5599DD;
	font: 28px/58px "微软雅黑";
	color: #5599DD;
}
.hot_sold_title>span{
	position: absolute;
    top: 6px;
    right: 10px;
    width: 189px;
    height: 44px;
    background: url(../img/un_index.png) ;
    background-position: 0 -167px;
}
.hotsold_city_list{
	width: 300px;
	height: 20px;
    margin: -37px 0 0 128px;
  	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-around;
}

.hotsold_city_list>li{
	display: inline-block;
	cursor: pointer;
	
}
.hotsold_city_list>li:hover{
	background-color: #0066CC;
	color: white;
	
}
/*****************************************************************************************************/
.more{
	width: 780px;
	height: 34px;
    margin-bottom: 3px;
	font-size: normal 22px/34px "Microsoft Yahei" !important;
}
.cwPlayer{
	margin: 20px 0;
	width: 782px;
	height: 95px;
	border-top:#D0D0D0 2px solid ;
	border-bottom:#E2E2E2 2px solid ;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	
}
.cwPlayer>:nth-child(odd){
	position: relative;
	width: 25px;
	border:#E2E2E2 solid;
	border-width: 0 1px 0 1px;
}
.cwPlayer>:nth-child(odd):hover:after{
	border-color: white #FFA700;
}
.cwPlayer>:nth-child(odd):after{
	content: "";
	position: absolute;
	top: 35px;
	display: block;
	height: 1px;
	border:8px solid;
	border-color: white #D2D2D2;
}
.cwPlayer>:nth-child(1):after{
	left: 6px;
	border-left-width: 0;
}
.cwPlayer>:nth-child(3):after{
	left: 8px;
border-right-width: 0;
}
.cwPlayer>:nth-child(2){
	position: relative;
	flex: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.cwPlayer>:nth-child(2)>dl{
	position: absolute;
	width: 2060px;
	height: 84px;
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	transform:translateX(-50px) ;  /*动画的关键点*/
}

.cwPlayer>:nth-child(2)>dl>:nth-child(n){
	width: 84px;
}

.cwPlayer>:nth-child(2)>dl>dt{
	height: 52px;
	background: url(../img/third_lunbo/xgll.jpg) center no-repeat;
	background-size: 84px;
	border: transparent  solid;
	border-width:2px 2px 0;	
}
.cwPlayer>:nth-child(2)>dl>dd{
	height: 32px;
	border: transparent  solid;
	border-width:0 2px 2px;
	text-align: center;
	line-height: 32px;
}

.cwPlayer>:nth-child(2)>dl>dt:hover{
	border-color:#FFA700; 
}
.cwPlayer>:nth-child(2)>dl>dt:hover+dd{
	border-color:#FFA700; 
}
/*****************************************************************************************************/
.hot_list{
	width: 780px;
	height: 1247px;
}
.hot_list>ul{
	height: 158px;
	border-bottom:1px dotted #DDD;
	padding: 10px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.hot_list>:last-child{
	border-bottom: none;
}


.hot_list>ul>li{
	display: inline-block;
}
.hot_list>ul>:nth-child(1){
	width: 130px;
	height: 140px;
	border-radius: 5px;

}
.hot_list>ul>:nth-child(2){
	flex: 1;
}
.hotel_goldmedal{
	display: inline-block;
	width: 20px;
    height: 20px;
    margin:0 5px 0 2px;
	background: url(../img/un_index.png) no-repeat -48px -82px;
}
.hotel_name{
	display: inline-block;
	font-size: 14px;
	color: #0066CC;
}
.hotel_stars{
	display: inline-block;
	width: 36px;
	height: 10px;
	background: url(../img/un_index.png) no-repeat -48px -62px;
	margin-bottom: 5px;
}
.searchresult_htladdress{
	margin: 10px 0 5px 5px;
}
.searchresult_htladdress a{
	margin-right: 10px;
    color: #333;
    text-decoration: underline;
}
.brief_comment span{

    color: #999;
}
.brief_comment_text{
	padding: 0 12px;
    max-height: 36px;
    height: 18px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
.hot_list>ul>:nth-child(3){
	width: 184px;
	height: 140px;
	
}
.price{
	margin-top: 5px;
    color: #F60;
}
.price dfn{
	color: #333;
    font: 12px Arial;
    vertical-align: 8px;
}
.price b{
    margin-right: 5px;
    font: normal 24px Tahoma;
}

/****************************************************************************************************/
.hotel_b_pic_list{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.hotel_b_pic_list>li{
	width: 580px;
	height: 90px;
}
/*******************************************************************************************************/
footer{
	margin: 0 auto;
	width: 1180px;
	height: 122.367px;
	/*background-color: #FF988F;*/
	margin: 28px auto 45px;
	text-align: center;
	color: #999;
	line-height: 2.5;
}
.icon-gns{
display: inline-block;
width: 20px;
height: 20px;
margin-right: 3px;
background-position: 0 -235px;
vertical-align: middle;
background-image: url(../img/img_yewei.png);
background-color: #fff;
background-repeat: no-repeat;
}
.honour_wrap{
	display: inline-block;
	padding-top: 10px;
	text-align: left;
}
.honour_wrap>:nth-child(n){
    height: 32px;
    margin: 0 4px;
	text-indent: 36px;
	float: left;
	border: 1px solid #d1d1d1;
	background-repeat: no-repeat;
	border-radius: 2px;
	font: 12px/32px Simsun;
	background-color: #fff;
	background-image: url(../img/img_yewei.png);
}
.honour1{
	background-position: -88px -50px;
}
.honour2{
	background-position: -88px -85px;
}
.honour3{
	background-position: 0 -50px;
	width: 88px;
}
.honour4{
	background-position: -88px -118px;
}
.honour5{
	background-position: 0 -387px;
	width: 116px;
}
.honour6{
	background-position: 0 -118px;
	width: 88px;
}
.honour7{
	background-position: 0 -193px;
width: 90px;
}
.honour8{
	background-position: 0 -350px;
width: 102px;
}
.honour9{
	background-position: 0 -429px;
width: 102px;
}
.honour10{
	background-position: 0 -155px;
width: 114px;
}
.honour11{
	background-position: 0 -480px;
width: 50px;
}