*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: arial,"microsoft yahei";
	 background-color: #fff;
}

a{
	color: #0066cc;
    text-decoration: none;
    outline: none;
	
}
ul{
	list-style-type: none;
}

header{
	width: 100%;
	height: 59px;
}
.hd_cont{
    min-width: 980px;
    max-width: 1180px;
    height: 59px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
   	
}
.hd_cont>:nth-child(1){
	padding-top: 8px;
}
.hd_cont>:nth-child(1)>a{
    display: block;
    width: 126px;
    height: 43px;
    overflow: hidden;
    background: url(../img/head_logo.png)  no-repeat;
	
}
.hd_cont>:nth-child(2){
    width: 900px;
    color: #999;
    border-left: 1px solid #E8E8E8;
}
.hd_cont>:nth-child(3){
	margin: auto 0;
}
.hd_cont>:nth-child(3)>span:after{
	content: "|";
	color: #333333;
}

/****************************************************************/
.base_bd{
	width: 1180px;
	margin: 0 auto;
}





/**********************************************************************/
.book_process{
    padding: 10px 0;
    max-width: 1180px;
    min-width: 980px;
}
.book_process>ul{
	overflow: hidden;
    zoom: 1;
    margin-left: -14px;
    display: flex;
    flex-flow: row nowrap;
}
.book_process>ul>li{
	list-style: none;
    height: 15px;
    padding-left: 252px;
    margin-left: 14px;
    line-height: 15px;
    background: url(../img/search_jinglintu/bg_step_new.png) no-repeat 0 -25px;
}
.book_process .step1{
    background-position: 0 0;
    color: #799d08;
}
/****************************************************************************************/
.base_title{
    font-size: 22px;
    font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";
    font-weight: normal;
    color: #1868bd;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
    word-wrap: break-word;
    overflow: hidden;
}

/*****************************************************************************************/
.base_box{
   zoom: 1;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.base_main{
	width: 860px;
	display: flex;
	flex-flow: column wrap;
}

.order_tips_strengthen{
	padding: 5px 20px;
    margin-bottom: 10px;
    background-color: #f2f6fa;
}
.order_tips_strengthen>p{
	    padding: 5px 0;
	background-color: #f2f6fa;
}
.order_tips_strengthen .bold{
	display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-family: "Microsoft Yahei",Simsun,sans-serif;
    font-size: 16px;
    font-weight: bold !important;
    background-color: #f2f6fa;
}
.iencourage_green{
    color: #2EB000;
}
.iencourage_orage{
    color: #FF6913;
}

.iencourage{
	background-color:  #f2f6fa;
	background-image: url(../img/search_jinglintu/icon_book_incite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.iencourage_fast_confirm{
	background-position: 0px 0px;
}
.iencourage_vgood{
	background-position: 0px -360px;
}
.iencourage_pay_2{
	background-position: 0px -80px;
}

/**********************************************************************************/
.book_table{
	width: 860px;
    border: 1px solid #D7E8F5;
}

.book_table dl{
	display: flex;
	flex-flow: row nowrap;
}

.book_table dt{
    background-color: #fff;
    width: 84px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #D7E8F5;
    padding: 16px 0 0 16px;
}
.book_table dt span{
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";
    display: inline-block;
}

.book_table dd{
	padding: 16px 20px 20px;
    border-bottom: 1px solid #D7E8F5;
    background-color: #eff6fc;
    flex: 1;
}


.order_info ul{
	display: flex;
	flex-flow: column nowrap;
}
.order_info ul>li{
	background-color:#eff6fc ;
}
.order_info ul span{
	display: inline-block;
	background-color:#eff6fc ;
}


.order_info ul>:nth-child(1)>a{
	display: inline-block;
	background-color:#eff6fc ;
}

.b_date_change{
    display: inline-block;
    width: 69px;
    height: 24px;
    line-height: 23px;
    text-align: center;
    color: #333;
    background: #f7f7f7 url(../img/search_jinglintu/btn_book.png) no-repeat 0 0;
}
.b_date_change:hover{
	background: #f7f7f7 url(../img/search_jinglintu/btn_book.png) no-repeat 0 -35px;
	color: #FFFFFF;
}
.b_help{
	float: right;
}


.base_label{
	position: relative;
	top: 5px;
    cursor: pointer;
    display: inline-block;
   /* width: 100%;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
    background-color:#eff6fc ;
}

.base_label input{
    margin: -4px 3px 0 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    border: none;
    font-family: Arial;
    vertical-align: middle;
}

.input_txt{
	float: left;
    width: 170px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 6px;
}

/**************************************************************************/
.insurance_box{
    padding: 8px 10px 8px 40px;
    margin-bottom: 7px;
    background-color: #fff;
    border: 1px solid #d7e8f5;
}

.insurance_box_name{
    margin-left: -25px;
    margin-bottom: 10px;
}
.tag_price{
    float: right;
    margin-top: -2px;
    color: #666;
}
.tag_price dfn{
	color: #333;
	font-style: normal;
    font-family: arial;
}
.tag_price .price {
	padding-left: 3px;
    padding-right: 5px;
    font: 18px Tahoma;
    color: #f60;
}

.insurance_box_name label{
    font-weight: bold;
}
.insurance_box_name input{
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    font-size: 12px;
}

.insurance_box_info{
    color: #666;
}

/**********************************************************************/
.accessorial_service ul{
	display: flex;
	flex-flow: column nowrap;
}
.accessorial_service ul>li{
	background-color:#eff6fc ;
}
.accessorial_service ul span{
	display: inline-block;
	background-color:#eff6fc ;
}


.accessorial_service ul a{
	display: inline-block;
	background-color:#eff6fc ;
}


.accessorial_service .checkbox{
    margin-right: 8px;
    vertical-align: -3px;
}
/***************************************************************************/

.book_table_input{
	display: inline-block;
	vertical-align: top;
    padding-top: 10px;
    width: 260px;
    background-color: #eff6fc;
}




.input_txt{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 3px;
    border: 1px solid #bbb;
    background: #fff;
    font-family: verdana;
}

.input_info_area{
	float: ;
    width: 100px;
}
.input_info_num{
    position: relative;
    float: left;
    margin-left: -10px;
    width: 120px;
}

.phone_box{
	width: 389px;
	display: inline-block;
	 background-color: #eff6fc;
}

.btn_negligible{
    vertical-align: middle;
    padding: 0;
    width: 138px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #e6f3ff;
    border: 1px solid #88b6e3;
    color: #0066cc;
    font-weight: bold;
    box-shadow: 0 1px 0 #ddd;
    border-radius: 2px;
    overflow: visible;
    cursor: pointer;
}

.input_info_mail{
    float: right;
 
    width: 227px;
}

.ico_benefit{
	width: 39px;
    height: 16px;
    margin: 0 2px;
    background-position: 0 -139px;
    line-height: 16px;
    background: url(../img/search_jinglintu/btn_book.png) no-repeat;
    white-space: nowrap;
}

.ico_gift{
    width: 16px;
    height: 16px;
    margin: 0 2px;
    background-position: -58px -114px;
    line-height: 16px;
    overflow: hidden;
    background: url(../img/search_jinglintu/btn_book.png) no-repeat;
    white-space: nowrap;
}
/**************************************************************************/
.btn_cont{
	padding: 15px 0 2px;
}

.prev{
	font-family: Simsun;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}
.btn_cont_box{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
.submit_btn{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    height: 37px;
    border: 1px solid #e77c00;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft Yahei",Simsun,sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    background-color: #ffb000;
    text-align: center;
    box-shadow: 0 1px 0 rgba(153,153,153,0.7);
    outline: none;
}
.submit_btn:hover{
	background-color: #de7800;
}

/*********************************************************************************/
.base_side{
	width: 300px;
}


.base_side>div{
	width: 300px;
	height: 492px;
	background: url(../img/jietu/QQ图片20190212010938.png);
}
















