.main_area{
	width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	background-color: #EEEEEE;
}
.order_info{
	display: flex;
	flex-flow: row nowrap;
}
.price_area{
	width: 40%;
}
