/*全局共性样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: arial,"microsoft yahei";
}
a{
	text-decoration: none;
	color: #4c4c4c;
    font-size: 12px;
}
ul{
	list-style-type: none;
}
li{
	list-style: none;
	display: list-item;
    text-align: -webkit-match-parent;
}
body{
	/*width: 1180px;*/
	background-color: #FAFAFA;
	outline: none;
}
/*头部-header-*/
header{
	width: 100%;
	height: 148px;
}
#log_language{
	height: 68px;
	background-color: #F5F5F5;
}
/*   *********头部搜索栏**/
header ul{
	width: 1180px;
	margin: 0 auto;
	/*background-color: skyblue;*/
	display: flex;
	justify-content: space-between;
}
.head_input{
	height: 68px;
}
.head_input>li{
	width: 50%;
}
/**左侧log*/
.head_input>li>a>img{
	margin: 12px auto;
}
.head_input>li>input{
	position: relative;
	top: -25px;
	left: 40px;
	width: 336px;
	height: 28px;;
	border: rgba(164,203,255) solid 0.1px;
	border-radius:4px 0 0 4px;
	margin: 12px auto;
}
/****头部搜索栏****/
.head_input>:nth-child(1)>button{
	position: relative;
	border-style: groove;
	border-radius: 0 4px 4px 0;
	top: -65px;
	left: 500px;
	display: block;
    width: 45px;
    height: 28px;
    cursor: pointer;/*鼠标放上去样式**/
    background-position: -52px -606px;
    background-image: url(../img/img_head_language.png);
    background-color: rgba(164,203,255);
    background-repeat: no-repeat;
}

/***右侧语言栏****/
.language{
	width: 350px;
	float: right;
	position: relative;
	top: 25px;
}
.arrow{
	display: inline-block;
    width: 9px;
    height: 5px;
    margin-left: 5px;
	background-position: -22px -264px;
	background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal ,.cui_ico_app ,.cui_ico_wechat{
	display: inline-block;
    width: 20px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../img/img_head_language.png);
    background-repeat: no-repeat;
}
.ico-glbal{
    background-position: -64px 0;
}
.service_telnum{	
	color: #06c;
}
.cui_ico_app{
    background-position: 0 -56px;
}
.cui_ico_wechat{
    background-position: -20px -55px;
}
/*****************************导航栏样式*******************************************/
#header_nav{
	height: 40px;
	background-color: rgba(37,119,227);
}

#header_nav>ul{
	height: 40px;
}

#header_nav>ul>:first-child{
	width: 1026px;
}
/**头部导航栏    ----》登录*/
#header_nav>ul>:last-child{
	flex: 1;
}
.nav_menu{
	width: 970px;
	float: left;
	display: block;
	width: 100%;
 height: 40px;
background-color: #2577e3;
margin: 0 auto 54px;
}
.nav_menu>li{
	font-family: 'microsoft yahei', Arial, sans-serif;
    display: inline-block;
    height: 40px;
    float: left;
    text-align: left;
}
.nav_menu>li>a{
	position: relative;
	top: 8px;
	display: block;
	height: 40px;
	padding: 0 8px;
	color: #fff;
	scursor: pointer;
	font-size: 15px;
	margin: 0;
}
.label-cn{
	position: absolute;
z-index: 9;
right: 0px;
top: -14px;
display: inline-block;
padding: 0 2px;
height: 15px;
line-height: 15px;
background-color: #ff9913;
color: #fff;
}
em{
	transform: scale(.92);	
	font-size: 12px;
vertical-align: 2px;
}
/**导航条小图标**/
.cui_ico_triangle{
	display: inline-block;
width: 0;
height: 0;
overflow: hidden;
line-height: 0;
font-size: 0;
margin-left: 5px;
vertical-align: middle;
border-top: 3px solid #fff;
border-bottom: 0 none;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
}
/*******登录块**********/
#header_nav>ul>:last-child{
	position: relative;
z-index: 25;
right: 0;
top: 0;
width: 128px;
height: 40px;
padding: 0 5px 0 27px;
background: #ff9913 url(../img/img_head_language.png) no-repeat -59px -179px;
}
#header_nav>ul>:last-child>a,span{
	color: #fff;
font-size: 12px;
position: relative;
top: 5PX;


}
.my_color>a{
color: #fff;
font-size: 15px;
transition: all 0.2s ease 0s;
float: left;
position: relative;
	left: -20PX;
	bottom: -4PX;
}
.header_nav_select{
position: relative;
top: 15px;
height: 20px;
line-height: 22px;
overflow: hidden;
}
/****** 导航项   样式*********/
.line-list{
	display:block;
	list-style: none;
}
.line-list>li{
	position: relative;
	float: left;
	top: 10px;
	left: 18px;
    margin: 0 13px 0 0;
    line-height: 22px;
    list-style: none;
}
.line_title{
position: relative;
margin-top: 10px;
display: block;
padding: 0 5px;
background: #74a8ed;
color: #fff;
font-size: 12px;
font-weight: bold;
border-radius: 2px;
}
.line-list>li>i{
	display: inline-block;
    background-image: url(../img/img_head_nav_select.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}
.cui-icom-hotel{
background-position: -26px 0;
}
.cui-icom-flight{
	background-position: 0px 0px;
}
.cui-icom-car{
	background-position: -130px 0px;
}
.cui-icom-train{
	background-position: -52px 0px;
}
.cui-icom-outboundtravel{
	background-position: -25px -52px;
}
.cui-icom-hhtravel{
	background-position: -104px -25px;
}
.cui-icom-ticket{
	background-position: -26px -25px;
}
.cui-icom-visa{
	background-position: 0px -52px;
}
.cui-icom-insurance{
	background-position: -78px -28px;
}
.cui-icom-wifi{
	background-position: -130px -25px;
}
.cui-icom-pickup{
	background-position: -25px -78px;
}
.cui-icom-foreign{
	background-position: -52px -78px ;
}
/*****************************************************数据主体 组员从此往后写***********/
#base_bd{
    width: 1180px;
    padding: 0 10px;
    margin: 10px auto;
}

.path_bar{
	width: 1180px;
	display: flex;
	justify-content: space-between;
}
.path_bar>:last-child{
	margin-right: 20px;
}
.path_bar a{
	color: #06c;
}
.flt_htl_i{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 47px;
    height: 15px;
    background:url(../img/search_jinglintu/un_searchresult.png) no-repeat -160px -32px;
}

/******************************************************************************************************************/
.search_form{
    position: relative;
  	width: 1180px;
  	height: 353px;
    margin-bottom: 10px;
    zoom: 1;
    z-index: 7;
}
.search_form .input_txt{
	margin-right: 16px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
}
.search_form span{}
.search_form .btn_search{
	display: inline;
    width: 75px;
    height: 28px;
    margin-right: 7px;
    padding-bottom: 4px;
    padding-bottom: 0\9;
    border: 1px solid #0055aa;
    border-radius: 3px;
    color: #fff;
    background-color: #27c;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-family: "Microsoft Yahei",Simsun,sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(51,119,187,0.7);
    outline: none;
}



.search_part{
    height: 30 px;
    padding: 0px 15px;
    background: #fffcd8;
    font-size: 14px;
    border-top: 2px solid #5E9FFB;
    border-left: 1px solid #d9e8ff;
    border-right: 1px solid #d9e8ff;
}

.search_part .input_txtShort{
    width: 110px;
}
.search_part .ui_tips_help{
	margin-left: 3px;
    margin-right: 12px;
}
.search_part .input_txtLong{
	width: 150px;
}


.input_txt{
	height: 20px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-family: Arial;
}

.n_gstRoom{
	margin-right: 16px;
}
.n_gstRoom .n_gst_v{
	width: 52px;
}
.n_gstRoom .n_gst_p{
	width: 55px;
}
.n_gstRoom .n_gst_num li{
	padding-left: 3px;
}



.n_gst{
    display: inline-block;
    height: 26px;
    position: relative;
    z-index: 8;
    cursor: default;
    vertical-align: middle;
    font-size: 12px;
    color: #333;
    line-height: 2;
}

.n_gst_v{
    display: inline-block;
    padding-left: 3px;
    width: 106px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #ccc;
    line-height: 24px;
    cursor: default;
    vertical-align: top;
    font-size: 12px;
}
.n_gst_tri{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 5px 5px 0;
    border-color: #666 transparent transparent;
    border-style: solid dashed dashed;
}

.n_gst_p{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 24px;
    width: 248px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

/*.n_gst_num{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/
.n_gst_num>li:hover{
	background-color: #0066CC;
	color: #FFFFFF;
}

.ui_tips_help{
	display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    cursor: help;
    background:url(../img/search_jinglintu/icon_hotel_v2.png) no-repeat 0 -82px;
}




/*****************************************************************************************************/
.modular-filter{
	width: 1180px;
	height: 307px;
	background-color: #fff;
    border-left: 1px solid #d9e8ff;
    border-right: 1px solid #d9e8ff;
}

.filterItem{
    background-color: #f8f8f8;
    border-bottom: 1px solid #f1f1f1;
}


.filterItemHot{
	height: 54.6px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: 14px;
}

.filterItem-hd{
	width: 80px;
    color: #666;
    padding-top: 15px;
	text-align: center;
}

.filterItem-bd{
	width: 1098px;
	background-color: #FFFFFF;
	display: flex;
    padding-left: 72px;
	flex-flow: row nowrap;
	align-items: center;
}
.filterItem-bd>div{
    margin: 5px 5px 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
	height: 33.6px;
	padding: 6px 0;
	text-align: center;
	
}
.fnum2{
	width: 46px;
}
.fnum3{
	width:58px;
}
.fnum4{
	width: 70px;
}
.fnum5{
	width:87px ;
}
.arrow_mark_down{
background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;
}

/***************************************************************/
.filterItemLocal{
	height:115.6px ;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: 14px;
}
.filterItemLocal>.filterItem-hd{}

.filterItemLocal>.filterItem-bd{}

.location_item{
	display: flex;
	flex-flow: column nowrap !important;
}

.location_item>ul{
	position: relative;
	width: 1026px;
	height: 42.6px;
	display: flex;
	flex-flow: row nowrap; 
}
.location_item>ul span{
	 position: absolute;
	 left: -50px;
	 color: #3399FF;
}

.location_item>ul>li{
	height: 33.6px; 
    padding: 5px 13px 9px 17px;
    margin: 0 0 -1px 5px;
    border: 1px solid #39f;
    border-radius: 3px 3px 0 0;
    cursor: default;
    background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;
}
.location_item>ul>:nth-child(1){
	width: 83px;
	
}
.location_item>ul>:nth-child(2){width: 111.6px;}
.location_item>ul>:nth-child(3){width: 83px;}
.location_item>ul>:nth-child(4){width: 135.6px;}
.location_item>ul>:nth-child(5){width: 71px;}




.location_item>div{
	width: 1026px;
	height: 62px;
	display: flex;
	border: none;
	flex-flow: row nowrap;
	
}
.optionList-item{
	/*width: 131px;
	height: 51.2px;*/
    padding: 7px 10px;
    margin-right: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.base_txtgray{
	width: 109px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text_orange{
	position: relative;
	top: -2px;
	color: orange;	
}
.optionList-more{
	position: relative;
	top: 15px;
	width: 50px;
	height: 18px;
	background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;
	color: #333333;
}

/********************************************************************/
.filterItemStar{
	height: 93.2px;
	display: flex;
	flex-flow: row nowrap;
}

.starPrice{
	width: 1098px;
	height: 92.2px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

}

.starPrice>ul{
	position: relative;
	width: 1026px;
	display: flex;
	flex-flow: row nowrap;	
}
.starPrice>ul>span{
	 position: absolute;
	 left: -50px;
	 color: #3399FF;
}
.starPrice>.priceList{
	width: 1026px;
	height: 38.6px;
	border: none;
	display: flex;
	flex-flow: row nowrap;
}
.starPrice>.priceList>:last-child{
	width: 198.11px;
	height: 34.4px;
	margin-left: 100px;
}

.customPrice-input{
	display: inline-block;
    vertical-align: middle;
    padding: 3px;
    width: 60px;
    height: 18px;
    border: 1px solid #ccc;
}

.customPrice-line{
    display: inline-block;
    vertical-align: middle;
}
.customPrice-btn{
	display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin-left: 6px;
    height: 26px;
    background-color: #39f;
    color: #fff;
    font-size: 14px;
    border: 0 none;
    border-radius: 3px;
    outline: none;
}

/******************************************************************************/
.filterItemSenior{
	height: 43.6px;
	display: flex;
	flex-flow: row nowrap;
}
.filterItemSenior ul{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	
}
.filterItemSenior ul>span{
	 position: absolute;
	 left: -50px;
	 color: #3399FF;
} 
.filterItemSenior ul>li{
	padding: 5px 13px 9px 17px;
    margin: 0 0 -1px 5px;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    cursor: default;
    background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;
}

/*******************************************************************************************************************************/
.hotel_count{
	width: 1180px;
	height: 20px;
    margin: 0 10px 0 8px;
    font: normal 12px/20px Arial,Simsun;
    color: #666;
}
.hotel_count>span{
	position: relative;
	color: #f60;
    font: normal 20px Arial;
    vertical-align: -3px;
    top: -5px;
}
/*******************************************************************************************************/
.base_wrap3{
	width: 1180px;
	height: 5709.4px;
	display: flex;
	flex-flow: row nowrap;
}
.ad_box{
	width: 780px;
	height: 40px;
	border: 1px solid #c2e0ff;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-flow: row nowrap;
}
.bannerLogin{
	display: inline-block;
	width: 680px;
    height: 38px;
    padding-right: 100px;
    margin-bottom: 5px; 
    line-height: 38px;
    text-align: center;
    background: url(../img/search_jinglintu/banner_login.png) repeat-x #e7f3ff;
    font: 20px/40px "Microsoft Yahei",Simsun,sans-serif;
    cursor: pointer;
}

.bannerLogin-btn{
	display: inline-block;
    margin: -1px -100px 0 0;
    width: 100px;
    height: 38px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    background-color: #2276cc;
    -webkit-transition: background-color 0.15s;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.bannerLogin>.bannerLogin-txt{
	position: relative;
    display: inline-block;
    padding: 0 10px 0 75px;
    height: 38px;
    font-size: 20px;
    color: #3298ff;
    background-color: #e7f3ff; 
}
.ico-face{
    position: absolute;
    left: 10px;
    top: 0;
    width: 55px;
    height: 38px;
    background: url(../img/search_jinglintu/banner_login.png)  no-repeat 0 -40px;
}

/**********************************************************************************/
.sorting{
	width: 780px;
	height: 40px;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
    line-height: 40px;
	display: flex;
	flex-flow: row nowrap;
    cursor: default;
}

.sorting>li{
	height: 40px;
	padding-left: 2px;
	border-right: 1px solid #dcdcdc;
}
.sorting>:nth-child(1){
	width: 90px;
}
.sorting>:nth-child(2){
	width: 78px;
}
.sorting>:nth-child(3){
	width: 70px;
	background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;
}
.sorting>:nth-child(4){
	width: 70px;
	background: url(../img/search_jinglintu/un_ico_searchresult.png) 100% 10px no-repeat;

}

/*******************************************************************/
.hotel_new_list{
	width: 780px;
	height: 220px;
	padding: 10px 0;
}

.hotel_item{
	display: flex;
	flex-flow: row nowrap;

}

.pic_medal{
	width: 170px;
	height: 200px;
}
.pic_medal>a{
	display: block;
	width: 170px;
	height: 200px;
	background:url(../img/pic-hotel/haofengyazhi.jpg) center center no-repeat;
    background-color: #FFFAF0;
    border-radius: 5px;
}



.hotel_item_name{
	width: 333.2px;
	height: 182.8px;
    margin-right: 5px;
    margin-top: -2px;
    display: flex;
    flex-flow: column nowrap;
    
}

.hotel_name2{
    display: inline;
    margin-bottom: 5px;
    /*font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: bold;*/
    color: #0066cc;
    line-height: 20px;
}
.hotel_name2>a{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #06c;
    text-decoration: none;
	vertical-align: middle;
}

.hotel_item_name .hotel_num{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-family: tahoma;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    vertical-align: 2px;
    padding-bottom: 3px;
    background: url(../img/search_jinglintu/un_map_spot.png)  no-repeat 0 -363px;
}
.hotel_name2 .label_selection{
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: 1px;
    margin-right: 3px;
    width: 36px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: #ff4318;
    background-image: linear-gradient(to right,#ff2102,#ff632d);
    border-radius: 3px;
}

.hotel_ico{
	display: inline-block;
	width: 136px;
	height: 14.4px;
}

.hotel_ico>.hotel_strategymedal{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 -27px no-repeat;
}
.hotel_ico>.ico_quality_gold{
	position: relative;
	top: -2px;
	display: inline-block;
    padding: 0 5px;
    color: #ff9913;
    background-color: #feedd5;
    border-radius: 3px;
}
.hotel_diamond04{
	position: relative;
	top: -2px;
	display: inline-block;
	width: 47px;
	height: 12px;
	background: url(../img/search_jinglintu/icon_hotel_v2.png) 0 3px no-repeat;
    overflow: hidden;
}

.hotel_item_htladdress{
	margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 12px;
    font-family: "SimSun,sans-serif";
    color: #666;
    line-height: 18px;
}

.hotel_item_htladdress a{
    text-decoration: underline;
    color: #666;
    vertical-align: 0;
    margin-right: 1px;
}

.hotel_item_htladdress .icon_list_map{
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    line-height: 16px;
    color: #06c;
    white-space: nowrap;
    text-decoration: none;
}

.medal_list{
	width: 333.2px;
	height: 20px;
    margin: 3px 0 5px 0px;
}

.special_label{
	width: 261px;
	height: 19px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.i_orange2{
    color: #fff;
    background-color: #ff9a14;
}

.i_green2{
	color: #fff;
    background-color: #00aea8;
}

.i_label{
	color: #fff;
    background-color: #7be;
}

.icon_list{
	margin-top: 5px;
    margin-bottom: 2px;
    height: 24px;
    line-height: 21px;
    overflow: hidden;
}
.icons-facility01,.icons-facility03,.icons-facility13,.icons-facility28,.icons-facility16{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 21px;
    height: 21px;
    background: url(../img/search_jinglintu/icon_facility.png) no-repeat;
}
.icons-facility03{
    background-position: -60px 0;
}
.icons-facility13{
	background-position: 0px -60px
}
.icons-facility28{
    background-position: -90px -120px
}
.icons-facility16{
	background-position: -90px -60px
}

.hotel_item_last_book{
	font-size: 12px;
    font-family: "SimSun,sans-serif";
    color: rgb( 16, 162, 0 );
    line-height: 1.5;
    text-align: left;
}


.hotel_item_judge{
    text-align: right;
    width: 110px;
    height: 198px;
    padding-right: 10px;
    border-right: 1px solid #f1f1f1;
    display: flex;
    flex-flow: column nowrap;
}

.hotel_judge{
    display: block;
    font-family: tahoma;
    text-align: right;
    text-decoration: none;
    color: #06c;
}
.hotel_level{
    vertical-align: middle;
    font: 18px 'Microsoft YaHei UI','Microsoft YaHei',SimSun,Tahoma,Verdana,Arial,sans-serif;
    font-weight: bold;
    color: #0066cc;
    line-height: 20px;
}

.hotel_value{
	vertical-align: middle;
    margin-right: 5px;
    height: 20px;
    font: 22px 'Microsoft YaHei UI','Microsoft YaHei',SimSun,Tahoma,Verdana,Arial,sans-serif;
    font-weight: bold;
    color: #0066cc;
    line-height: 20px;
    overflow: hidden;
}

.total_judgement_score{
	color: #999;
    line-height: 10px;
    margin-top: 8px;
    display: block;
    font-size: 12px;
    font-family: "SimSun,sans-serif";
}

.total_judgement_score>span{
	position: relative;
	top: -2px;
}

.hotel_judgement{  
    color: #999;
    line-height: 10px;
    margin-top: 8px;
    display: block;
    font-size: 12px;
    font-family: "SimSun,sans-serif";
    overflow: hidden;
    text-decoration: initial;
    white-space: nowrap;
}

.hotel_judgement>span{
	position: relative;
	top: -1px;
}
.recommend{
	font: 14px/1.5 Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","\5fae\8f6f\96c5\9ed1",simsun,"\9ed1\4f53","STHeiti",sans-serif;
    color: #ff9a14;
    margin-top: 10px;
    display: block;
}


.hotel_item_favorite{
    margin-top: 70px;
    text-align: right;
}


.ico_unfavorite{
    width: auto;
    padding-left: 20px;
	background: url(../img/search_jinglintu/icon_hotel_v2.png) -128px 0 no-repeat;
}

.hotel_price_icon{
    float: right;
    display: inline;
    width: 130px;
    text-align: right;
    position: relative;
}

.hotel_price {
    color: #F60;
    min-width: 72px;
    overflow: hidden;
    margin-top: -9px;
}

.hotel_price dfn{
    margin-right: 3px;
    font: normal 12px arial;
    vertical-align: 14px;
    color: #f60;
}

.hotel_price a{
	color: #f60;
}

.J_price_lowList{
    font: 32px Tahoma;
    color: #f60;
}
.hotel_item .original_price{
    text-align: right;
    color: #333;
    position: relative;
    margin-top: 5px;
}

.hotel_item .original_price .giftcard_available{
    display: block;
    margin-left: 8px;
    vertical-align: middle;
    color: #999;
    font-family: "SimSun,sans-serif";
    font-size: 12px;
    line-height: 12px;
    padding-left: 19px;
    height: 20px;
}

.giftcard_available i{
    display: inline-block;
    vertical-align: -2px;
    height: 15px;
    width: 19px;
    margin-right: 5px;
    overflow: hidden;
    background: url(../img/search_jinglintu/icon_hotel_v2.png) no-repeat 0 -54px;
    color: #989898;
    margin-left: -19px;
}


.action_info{
	position: absolute;
    top: 165px;
    right: 0;
}
.action_info .detail_btn{
    display: block;
    
}


.detail_btn>.btn_buy{
	display: block;
	width: 110px;
    height: 36px;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
    border: 0 none;
    border-radius: 5px;
    background-color: #ff9a14;
    font: 14px/36px "\5B8B\4F53",SimSun,Tahoma,Verdana,Arial,sans-serif;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

/*************************************************************/
.base_side3{
	width: 380px;
	height: 1000px;
	margin-left: 20px;
}

.side_map{
    width: 380px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    z-index: 1;
}
.tool_box{
    position: relative;
    min-width: 178px;
    width: 380px;
    height: 34px;
    background-color: #F5F5F5;
}

.map_fold{
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 10px;
    padding-right: 12px;
}

.side_map .tool_box .map_fold i{
	position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    overflow: hidden;
    background: url(../img/search_jinglintu/un_ico_searchresult.png) -4px -85px no-repeat;
}
.base_label{
    position: absolute;
    top: 0;
    right: 80px;
    margin: 8px 10px 0 0;
    cursor: pointer;
}

.base_label input{
    margin: -4px 3px 0 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    border: none;
    font-family: Arial;
    vertical-align: middle;
}

.tool_box>.map_link{
    display: inline-block;
    width: 94px;
    height: 35px;
    margin: -1px 0 0 -1px;
    background-color: #06c;
    color: #fff;
    line-height: 34px;
    text-align: center;
}
.tool_box .map_link_i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/search_jinglintu/un_searchresult.png) -228px -85px no-repeat;
}

.map_box{
    width: 380px;
    height: 266px;
    background-color: #fff;
    overflow: hidden;
    background: url(../img/jietu/QQ图片20190209203923.png) no-repeat ;
}

.my_record_hd{
	height: 30px;
	display: flex;
	flex-flow: row nowrap;
}

.my_record_hd span{
	display: block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-size: 14px;
    background-color: #dce9f3;
    cursor: pointer;
}

.my_record_hd>.current{
	color: #333;
    background-color: #f3faff;
    cursor: default;
}


.my_record_bd{
	position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.my_record_bd .no_record{
    padding: 10px 10px 0;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.my_record_bd .no_record .fav{
	margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 14px;
    background: url(../img/search_jinglintu/icon_hotel_v2.png) no-repeat -128px 0;
}

.hotel_promote{
   	height: 258.95px;
    margin-bottom: 10px;
}

.hotel_promote_hd{
	position: relative;
   height: 25.8px;
    z-index: 1;
    padding-bottom: 5px;
}

.hotel_promote_hd h3{
    float: left;
    font-size: 14px;
    font-family: Arial,Simsun,sans-serif;
}

.hotel_promote_bd{
	height: 233.15px;
	background: url(../img/jietu/QQ图片20190209211554.png);
}

.meeting_enter{
    position: relative;
    height: 135px;
}

.meeting_enter a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/guanggao/meeting_ad_big.png) repeat-x center bottom;
    background-size: 100% 100%;
}

.meeting_enter span{
	position: absolute;
    top: 50%;
    right: 6%;
    margin-top: -32px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ff9a14;
    border-radius: 5px;
    background: #ff9a14;
    color: #fff;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-family: "\5B8B\4F53",SimSun,Tahoma,Verdana,Arial,sans-serif;
    font-size: 14px;
}






/*******************************页尾****************************/
footer{
	margin: 0 auto;
	width: 1180px;
	height: 122.367px;
	/*background-color: #FF988F;*/
	margin: 28px auto 45px;
	text-align: center;
	color: #999;
	line-height: 2.5;
}
.icon-gns{
display: inline-block;
width: 20px;
height: 20px;
margin-right: 3px;
background-position: 0 -235px;
vertical-align: middle;
background-image: url(../img/img_yewei.png);
background-color: #fff;
background-repeat: no-repeat;
}
.honour_wrap{
	display: inline-block;
	padding-top: 10px;
	text-align: left;
}
.honour_wrap>:nth-child(n){
    height: 32px;
    margin: 0 4px;
	text-indent: 36px;
	float: left;
	border: 1px solid #d1d1d1;
	background-repeat: no-repeat;
	border-radius: 2px;
	font: 12px/32px Simsun;
	background-color: #fff;
	background-image: url(../img/img_yewei.png);
}
.honour1{
	background-position: -88px -50px;
}
.honour2{
	background-position: -88px -85px;
}
.honour3{
	background-position: 0 -50px;
	width: 88px;
}
.honour4{
	background-position: -88px -118px;
}
.honour5{
	background-position: 0 -387px;
	width: 116px;
}
.honour6{
	background-position: 0 -118px;
	width: 88px;
}
.honour7{
	background-position: 0 -193px;
width: 90px;
}
.honour8{
	background-position: 0 -350px;
width: 102px;
}
.honour9{
	background-position: 0 -429px;
width: 102px;
}
.honour10{
	background-position: 0 -155px;
width: 114px;
}
.honour11{
	background-position: 0 -480px;
width: 50px;
}


