.creditcard_abc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/abc.1e169413.png);} /*农业银行*/
.creditcard_ahrcu {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ahrcu.ba9d709e.png);} /*安徽农信社*/
.creditcard_americanexpress {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/americanexpress.c950a6bb.png);}/* americanexpress */
.creditcard_asrbs {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/asrbs.49a369c4.png);} /*安顺市商业银行*/
.creditcard_ayb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ayb.75447dfb.png);} /*安阳银行*/
.creditcard_bankofdl {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bankofdl.dd9b6845.png);} /*大连银行*/
.creditcard_bccard {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bccard.b2ae3cbc.png);} /*韩国BC卡*/
.creditcard_bdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bdb.c0b3bab7.png);} /*保定银行*/
.creditcard_beeb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/beeb.65d0d50e.png);} /*鄞州银行*/
.creditcard_bjbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bjbank.9fc01716.png);} /*北京银行*/
.creditcard_bjrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bjrcb.7b2c953a.png);} /*北京农商银行*/
.creditcard_bobbg {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bobbg.d5d79a25.png);} /*广西北部湾银行*/
.creditcard_boc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/boc.3d22e3c7.png);} /*中国银行*/
.creditcard_bocd {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bocd.0181ec40.png);} /*成都银行*/
.creditcard_bofs {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bofs.5b0c083f.png);} /*抚顺银行*/
.creditcard_bohld {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bohld.42c4ce9a.png);} /*葫芦岛银行*/
.creditcard_boimc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/boimc.06ecd5ed.png);} /*内蒙古银行*/
.creditcard_boj {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/boj.693c5b26.png);} /*锦州银行*/
.creditcard_bol {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bol.8dac02a5.png);} /*兰州银行*/
.creditcard_boq {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/boq.4e524697.png);} /*青海银行*/
.creditcard_bsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bsb.46da19c6.png);} /*包商银行*/
.creditcard_byk {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/byk.172ababc.png);} /*营口银行*/
.creditcard_cab{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cab.6c8775e8.png);} /*长安银行*/
.creditcard_caccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/caccb.9cda0ac4.png);} /*沧州银行*/
.creditcard_cbhb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cbhb.ecd52af1.png);} /*渤海银行*/
.creditcard_ccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ccb.cfe47911.png);} /*建设银行*/
.creditcard_cdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cdb.d6d5aad9.png);} /*承德银行*/
.creditcard_cdrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cdrcb.834a82c7.png);} /*成都农商银行*/
.creditcard_cebbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cebbank.2b086594.png);} /*中国光大银行*/
.creditcard_cgnb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cgnb.b6cddef7.png);} /*南充市商业银行*/
.creditcard_cib {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cib.6f74f02c.png);} /*兴业银行*/
.creditcard_citic {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/citic.c6810748.png);} /*中信银行*/
.creditcard_citybank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/citybank.1e66dbb1.png);}/*花旗银行*/ 
.creditcard_cmb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cmb.11c59fdd.png);}/*招商银行*/ 
.creditcard_cmbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cmbc.b37ab7c8.png);} /*民生银行*/
.creditcard_comm {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/comm.05588b90.png);} /*交通银行*/
.creditcard_cqcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cqcb.584563a9.png);} /*重庆银行*/
.creditcard_cqrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cqrcb.16b7150b.png);} /*重庆农村商业银行*/
.creditcard_crbc,.creditcard_crb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/crbc.d08afa98.png);} /*华润银行(信用卡和储蓄卡)*/
.creditcard_cscb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cscb.4b4ac57a.png);} /*长沙银行*/
.creditcard_csrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/csrcb.18368f1f.png);} /*常熟农村商业银行*/
.creditcard_ctgb {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ctgb.9362db2d.png);} /*重庆山峡银行*/
.creditcard_cycb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cycb.dbf0f502.png);} /*朝阳银行*/
.creditcard_czb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/czb.d3546e12.png);} /*浙商银行*/
.creditcard_czcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/czcb.b140fee6.png);} /*浙江稠州商业银行*/
.creditcard_czccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/czccb.3e28aecb.png);} /*长治市商业银行*/
.creditcard_ddbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ddbc.d0be5ffe.png);} /*丹东银行*/
.creditcard_deyangccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/deyangccb.6f329a89.png);} /*德阳银行*/
.creditcard_DinersClub {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/DinersClub.11711263.png);}/* DinersClub */
.creditcard_dongguan,.creditcard_dgcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dongguan.8e472c66.png);} /*东莞银行(信用卡和储蓄卡)*/
.creditcard_drc,.creditcard_drcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/drc.594de1f7.png);} /*东莞农商行（信用卡和储蓄卡）*/
.creditcard_dyccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dyccb.6a8c5ad9.png);} /*东营银行*/
.creditcard_dzcc{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dzcc.a2f68769.png);}/*德州银行*/
.creditcard_dzccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dzccb.b092cf75.png);} /*达州市商业银行*/
.creditcard_fdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/fdb.431798ed.png);} /*富滇银行*/
.creditcard_fjhxbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/fjhxbank.85218363.png);} /*福建海峡银行*/
.creditcard_fjnx {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/fjnx.c658a080.png);} /*福建省农村信用社农商银行*/
.creditcard_ftyzb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ftyzb.59b6ac57.png);} /*深圳福田银座村镇银行*/
.creditcard_fxb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/fxb.9cc0c9b4.png);} /*阜新银行*/
.creditcard_gdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gdb.48bc69f3.png);} /*广发银行*/
.creditcard_gdrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gdrcb.2e5020ce.png);} /*广东农信*/
.creditcard_ghb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ghb.79a38c84.png);} /*广东华兴银行*/
.creditcard_glccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/glccb.3b1bc3c6.png);} /*桂林银行*/
.creditcard_gnb,.creditcard_nyb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gnb.64917b99.png);} /*广东南粤银行（储蓄卡和信用卡）06*/
.creditcard_grcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/grcb.9f52c461.png);} /*广州农村商业银行*/
.creditcard_gsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gsb.d23df1fd.png);} /* 甘肃银行*/
.creditcard_gsrcu {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gsrcu.d3973380.png);} /*甘肃农信社*/
.creditcard_gxrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gxrcb.dade7221.png);} /*广西农信*/
.creditcard_gyccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gyccb.55d64f8e.png);} /*贵阳银行*/
.creditcard_gzcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gzcb.27852447.png);} /*广州银行*/
.creditcard_gzccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gzccb.e2c93583.png);} /*赣州银行*/
.creditcard_gzrcu {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gzrcu.db1b17f1.png);} /*贵州农信社*/
.creditcard_hana {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hana.cf5b8e87.png);}/*韩亚银行*/
.creditcard_hbb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hbb.b63aced1.png);} /*湖北银行*/
.creditcard_hbsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hbsb.d3f6facb.png);} /*鹤壁银行*/
.creditcard_hbxh {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hbxh.7136b8eb.png);} /*湖北农信社*/
.creditcard_hdcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hdcb.55ce6b4d.png);} /*邯郸银行*/
.creditcard_heb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/heb.7cfa0e3a.png);} /*河北银行*/
.creditcard_hebnx {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hebnx.58bc05fd.png);} /*河北省农村信用社*/
.creditcard_hfbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hfbc.891edf52.png);} /*汇丰银行*/
.creditcard_hfboc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hfboc.9972cbbd.png);} /*恒丰银行*/
.creditcard_hkbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hkbc.09406199.png);} /*海口农商银行*/
.creditcard_hkbchina {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hkbchina.fd84de02.png);} /*汉口银行（数据库没这个银行）*/
.creditcard_hkbea {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hkbea.b84ea3d3.png);} /*东亚银行*/
.creditcard_hljnx {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hljnx.dade7221.png);}/*黑龙江省农村信用社联合社（数据库没有这个银行）08*/
.creditcard_hnb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hnb.58bc05fd.png);} /*海南省农村信用社*/
.creditcard_hnnxs {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hnnxs.b90911d2.png);} /*湖南省农村信用社联合社*/
.creditcard_hrbcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hrbcb.f0294e0f.png);} /*哈尔滨银行*/
.creditcard_hrcc{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hrcc.758cffa8.png);} /*河南省农村信用社*/
.creditcard_hrxb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hrxb.fbda6114.png);} /* 华融湘江银行*/
.creditcard_hsbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hsbank.fd2c0daa.png);} /*徽商银行*/
.creditcard_hscb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hscb.e1c58eee.png);} /* 衡水商行*/
.creditcard_hxb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hxb.c5e45152.png);} /*华夏银行*/
.creditcard_hzbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hzbank.61995fea.png);} /*杭州银行*/
.creditcard_hzbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hzbc.444b376d.png);} /*湖州银行*/
.creditcard_ibk {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ibk.382f9c71.png);} /*韩国中小企业银行*/
.creditcard_icbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/icbc.40a2aaf1.png);}/*中国工商银行*/ 
.creditcard_jcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jcb.f6a9c825.png);}/*jcb*/
.creditcard_jjccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jjccb.e756afaf.png);} /*九江银行*/
.creditcard_jlb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jlb.2ffc7834.png);} /* 吉林银行 */
.creditcard_jlnls {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jlnls.78c72658.png);} /*吉林省农村信用社*/
.creditcard_jnbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jnbank.9a0bd03f.png);} /*济宁银行*/
.creditcard_jnccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jnccb.1259d53d.png);} /*金华银行*/
.creditcard_jnrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jnrcb.1ddc89ba.png);} /*江南农村商业银行*/
.creditcard_jprcu {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jprcu.513f305d.png);} /*江苏省农村信用社联合社*/
.creditcard_jsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jsb.c049c85c.png);} /* 江苏银行*/
.creditcard_jxb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jxb.dd743a83.png);} /*晋城银行*/
.creditcard_jxccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jxccb.aae08c44.png);} /*嘉兴银行*/
.creditcard_jxnxs {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jxnxs.ef10739c.png);} /*江西省农村信用联合社*/
.creditcard_jyrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jyrcb.0b85da65.png);} /*江阴农村商业银行*/
.creditcard_jzb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jzb.5d2640f4.png);} /*晋中银行*/
.creditcard_klb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/klb.5a1faa1a.png);} /*昆仑银行*/
.creditcard_ksrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ksrcb.1ce87a47.png);} /*昆山农村商业银行*/
.creditcard_lhb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lhb.628e208d.png);} /*漯河银行*/
.creditcard_ljbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ljbc.55c7a06a.png);} /*龙江银行*/
.creditcard_lnnx {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lnnx.647cf1bd.png);} /*辽宁省农村信用社（数据库没有这个银行）*/
.creditcard_lsbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lsbc.af8b7f7c.png);} /*临商银行*/
.creditcard_lsccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lsccb.1458aa76.png);} /*乐山市商业银行*/
.creditcard_lspcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lspcb.0b88cc9e.png);} /*凉山州商业银行*/
.creditcard_lwcb{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lwcb.370a6795.png);} /*莱商银行*/
.creditcard_lybc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lybc.cfaa70bd.png);} /*辽阳银行*/
.creditcard_lzcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lzcb.61553918.png);} /*柳州银行*/
.creditcard_lzccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lzccb.bb373573.png);} /*泸州市商业银行*/
.creditcard_mastercard {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/mastercard.cbfac164.png);}/* mastercard */
.creditcard_mtb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/mtb.6de25e9d.png);} /*浙江民泰商业银行*/
.creditcard_nbbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/nbbank.00c0627d.png);} /*宁波银行*/
.creditcard_ncbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ncbc.5d602462.png);} /* 南洋银行*/
.creditcard_nccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/nccb.aa5d8756.png);} /*江西银行*/
.creditcard_ndhb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ndhb.54ee32da.png);} /*宁波东海银行*/
.creditcard_nrcb {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/nhnsbk.3858d014.png);}/* 南海农商银行*/
.creditcard_njcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/njcb.6f91bb18.png);} /*南京银行*/
.creditcard_nmgrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/nmgrcb.dade7221.png);} /*内蒙古农村信用社*/
.creditcard_nxbank{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/nxbank.0e244897.png);}/*宁夏银行（数据库没有这个银行）*/
.creditcard_ordosbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ordosbank.5c742006.png);} /*鄂尔多斯银行*/
.creditcard_pdscb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/pdscb.2284abc3.png);} /*平顶山银行*/
.creditcard_psbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/psbc.4da8f1da.png);} /*邮政储蓄银行*/
.creditcard_pzhccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/pzhccb.cfb87de5.png);} /*攀枝花市商业银行*/
.creditcard_qbccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qbccb.c43d76a9.png);} /*青岛银行*/
.creditcard_qhdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qhdb.571731fd.png);} /*秦皇岛市商业银行*/
.creditcard_qhrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qhrcb.5ef097a1.png);} /*青海农村信用社联合社*/
.creditcard_qjccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qjccb.ba83c32b.png);} /*曲靖市商业银行*/
.creditcard_qlbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qlbc.0890d2c9.png);} /*齐鲁银行*/
.creditcard_qsbk {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qsbk.69b2e219.png);}/*齐商银行（数据库没有这个银行）*/
.creditcard_qzccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qzccb.07c583fb.png);} /*泉州银行*/
.creditcard_scb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/scb.0a7af21a.png);} /* 渣打银行*/
.creditcard_scrcu {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/scrcu.8faea041.png);} /*四川农信*/
.creditcard_sdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sdb.d66f3e99.png);} /*平安银行（原深发展银行）*/
.creditcard_spabank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/spabank.d66f3e99.png);} /*平安银行*/
.creditcard_sdeb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sdeb.58986022.png);} /*顺德农村商业银行*/
.creditcard_sdnxs {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sdnxs.153077a8.png);} /*山东农信社*/
.creditcard_sgb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sgb.78f59a7a.png);} /*法兴银行*/
.creditcard_shinhan {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/shinhan.967e039e.png);} /*新韩银行*/
.creditcard_shbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/shbank.b16f4033.png);} /*上海银行*/
.creditcard_sjb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sjb.9c926886.png);} /*盛京银行*/
.creditcard_smxb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/smxb.99c3d144.png);} /*三门峡银行*/
.creditcard_snccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/snccb.95b4bc2d.png);} /*遂宁市商业银行*/ 
.creditcard_spdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/spdb.0c86db7c.png);} /*浦发银行*/
.creditcard_sqb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sqb.aa109258.png);} /*商丘银行*/
.creditcard_srb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/srb.fab0e068.png);} /*上饶银行*/
.creditcard_srcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/srcb.19c3dcd9.png);} /*上海农商银行*/
.creditcard_srccu {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/srccu.aebf5480.png);} /*陕西信合*/
.creditcard_sxccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sxccb.0e54c5b3.png);} /*绍兴银行*/
.creditcard_sxrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sxrcb.db1b17f1.png);} /*山西省农村信用社*/
.creditcard_szb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/szb.58cc3958.png);} /*苏州银行*/
.creditcard_szrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/szrcb.13356780.png);} /*深圳农商银行*/
.creditcard_szsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/szsb.1e14aa24.png);} /*石嘴山银行*/
.creditcard_taccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/taccb.e5ac018a.png);} /*泰安市商业银行*/
.creditcard_tccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tccb.0753815e.png);} /*天津银行*/
.creditcard_tcrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tcrcb.d3dcee50.png);} /*太仓农商行*/
.creditcard_tjbhb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tjbhb.a07b48d2.png);} /*天津滨海农商行*/
.creditcard_trcb{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tjns.ebef0c79.png);}/*天津农商银行*/
.creditcard_tsbank {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tsbank.72c33b70.png);} /*唐山市商业银行*/
.creditcard_tzb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tzb.3963a9d7.png);} /*台州银行*/
.creditcard_uccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/uccb.952e6dbb.png);} /*乌鲁木齐商业银行*/
.creditcard_union {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/union.41385806.png);}/* 银联在线支付*/
.creditcard_unionpayintl {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/union.41385806.png);} /*银联国际*/
.creditcard_gc_union {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/union.41385806.png);} /*银联在线（酒店场景等特有支付方式）*/
.creditcard_uobc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/uobc.586d4d74.png);} /*大华银行*/
.creditcard_visa {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/visa.55dfb92d.png);}/* visa */
.creditcard_wfccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/wfccb.78b55256.png);} /*潍坊银行*/
.creditcard_whcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/whcb.a52a0c60.png);} /*乌海银行*/
.creditcard_whccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/whccb.53f1d72b.png);} /*威海市商业银行*/
.creditcard_wjrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/wjrcb.a376192e.png);} /*吴江农商银行*/
.creditcard_wrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/wrcb.32605704.png);} /*无锡农村商业银行*/
.creditcard_wzcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/wzcb.d9780a0f.png);} /*温州银行*/
.creditcard_xacb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xacb.9d0348ed.png);} /* 西安银行 */
.creditcard_xccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xccb.44fd5ae2.png);} /*许昌银行*/
.creditcard_xhrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xhrcb.e32e19a8.png);} /*新会农村商业银行*/
.creditcard_xjkccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xjkccb.3b100ea9.png);} /*库尔勒市商业银行*/
.creditcard_xmccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xmccb.090c6783.png);} /*厦门银行*/
.creditcard_xrccu{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xrccu.dade7221.png);}/*新疆维吾尔自治区农村信用社*/
.creditcard_xtb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xtb.d84af367.png);} /*邢台银行*/
.creditcard_xybc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xybc.43f027fb.png);} /*信阳银行*/
.creditcard_yaccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yaccb.8d58e414.png);} /*雅安市商业银行*/
.creditcard_ybccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ybccb.4c3db7d6.png);} /*宜宾市商业银行*/
.creditcard_yccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yccb.e58f5ce1.png);} /*宜昌市商业银行*/
.creditcard_ydrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ydrcb.ff3888c6.png);} /*山西尧都农村商业银行*/
.creditcard_ylbank,.creditcard_woori{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ylbk.9eed4765.png);}/*友利银行*/
.creditcard_ynrcc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ynrcc.27d79111.png);} /*云南农信社*/
.creditcard_yqccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yqccb.91f3df6b.png);} /*阳泉市商业银行*/
.creditcard_yrrcb,.creditcard_hhbc {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yrrcb.a2d26ffd.png);} /* 黄河农商银行*/
.creditcard_yxccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yxccb.7cc176e3.png);} /*玉溪市商业银行*/
.creditcard_zgb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zgb.b4f6814c.png);} /*自贡市商业银行-ZGB*/
.creditcard_zjkccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zjkccb.568f1303.png);} /*张家口市商业银行*/
.creditcard_zjtlcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zjtlcb.b606b7fc.png);} /*台州泰隆*/
.creditcard_zkb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zkb.3a3bb792.png);} /*周口银行*/
.creditcard_zmdb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zmdb.5132a24f.png);} /*驻马店银行*/
.creditcard_zrcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zrcb.9f658439.png);} /*张家港农村商业银行*/
.creditcard_zrccu{background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zrccu.9df6ad7f.png);} /*浙江农信*/
.creditcard_zybk {background-image:url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zybk.0eda18a2.png);}/*中原银行（数据库没有这个银行）*/
.creditcard_zyccb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zyccb.a9dbb73f.png);} /*遵义市商业银行*/
.creditcard_zzb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zzb.0fc1faba.png);} /*郑州银行*/


.creditcard_hyundai {background-image: url(img/bank_logo_36/hyundai.png);} /*现代*/
.creditcard_kookmin {background-image: url(img/bank_logo_36/kookmin.png);} /*国民银行*/
.creditcard_lotte {background-image: url(img/bank_logo_36/lotte.png);} /*乐天*/
.creditcard_nonghyup {background-image: url(img/bank_logo_36/nonghyup.png);}/*农协银行*/
.creditcard_samsung {background-image: url(img/bank_logo_36/samsung.png);} /*三星*/

/* 第三方 */
.more_qqpay { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/qqpay.0081bd74.png);} /*QQ支付*/
.more_baidu { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/baidu.549b7a68.png);} /*百度支付*/
.more_unionpay { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/unionpay.c4581da8.png);} /*银联支付*/
.more_tenpay { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tenpay.46425116.png); width: 48px;} /*财付通*/
.more_wechat { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/wechat.8a5c8668.png);} /*微信支付*/
.more_alipay { background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/alipay.7af291c6.png);} /*支付宝*/

/* 2018-02-07 新增泰国和马来西亚网上银行logo （小尺寸 补齐） */
.creditcard_cimbc{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/cimbc.bd0c5a2b.png);}/*CIMB Clicks*/
.creditcard_rhbn{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/rhbn.7e77b2c4.png);}/*RHB Now*/
.creditcard_amo{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/amo.959315e0.png);}/*RHB Now*/
.creditcard_pbp{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/pbp.78b8c5d6.png);}/*Public Bank Pbe*/
.creditcard_hlg{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/hlg.6fd621a9.png);}/*Hong Leong*/
.creditcard_mbu{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/mbu.b2bb9ff8.png);}/*Maybank2u*/
.creditcard_bim{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bim.3ff542a2.png);}/*Bank Islam*/
.creditcard_fpx{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/fpx.f7a6da69.png);}/*FPX*/
.creditcard_bay{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bay.4acd595e.png);}/*Bank of Ayudhya*/
.creditcard_sicb{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/sicb.84c4a58a.png);}/*Siam Commercial Bank*/
.creditcard_ktb{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ktb.19d37016.png);}/*Krung Thai Bank*/
.creditcard_bkb{ background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/bkb.1b06fbee.png);}/*Bangkok Bank*/

/* 2018-04-25 新增银行 （小尺寸 补齐） */
.creditcard_alfamart {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/alfamart.7b4b88b1.png);} /*Alfamart*/
.creditcard_dandan {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dandan.5e6dc857.png);} /*Dan+Dan*/
.creditcard_danamon {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/danamon.1220d471.png);} /*Danamon*/
.creditcard_indomaret {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/indomaret.707f2f4d.png);} /*Indomaret*/
.creditcard_lawson {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lawson.2b8cf3c0.png);} /*lawson*/
.creditcard_mandiri {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/mandiri.fbb30ea0.png);} /*Mandiri*/
.creditcard_permata {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/permata.c20baf37.png);} /*Permata*/
.creditcard_alfaexpress {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/alfaexpress.61879558.png);} /*Alfa express*/
.creditcard_alfamidi {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/alfamidi.20018fa7.png);} /*Alfamidi*/
.creditcard_otherbanks { background-image: url(img/bank_logo_36/otherbanks.png)} /* otherbanks */

.creditcard_alfamart_b {background-image: url(img/bank_logo_36/alfamart_b.png);} /*Alfamart 68x68*/
.creditcard_dandan_b {background-image: url(img/bank_logo_36/dandan_b.png);} /*Dan+Dan 68x68*/
.creditcard_danamon_b {background-image: url(img/bank_logo_36/danamon_b.png);} /*Danamon 68x68*/
.creditcard_indomaret_b {background-image: url(img/bank_logo_36/indomaret_b.png);} /*Indomaret 68x68*/
.creditcard_lawson_b {background-image: url(img/bank_logo_36/lawson_b.png);} /*lawson 68x68*/
.creditcard_mandiri_b {background-image: url(img/bank_logo_36/mandiri_b.png);} /*Mandiri 68x68*/
.creditcard_permata_b {background-image: url(img/bank_logo_36/permata_b.png);} /*Permata 68x68*/
.creditcard_alfaexpress_b {background-image: url(img/bank_logo_36/alfaexpress_b.png);} /*Alfa express 68x68*/
.creditcard_alfamidi_b {background-image: url(img/bank_logo_36/alfamidi_b.png);} /*Alfamidi 68x68*/
.creditcard_cimbc_b {background-image: url(img/bank_logo_36/cimbc_b.png);}/*cimbc 68*68*/
.creditcard_otherbanks_b { background-image: url(img/bank_logo_36/otherbanks_b.png)} /* otherbanks 68*68 */

/* 2018-05-03 */
.creditcard_we {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/we.80049f95.png);} /* 微众银行 */
.creditcard_zz {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/zz.92968381.png);} /* 枣庄银行 */
.creditcard_yt {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/yt.00bfd18c.png);} /* 烟台银行 */
.creditcard_xz {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/xz.50c94273.png);} /* 西藏银行 */
.creditcard_whncsy {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/whncsy.7230f15e.png);} /* 武汉农村商业银行 */
.creditcard_rz {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/rz.414c6c5e.png);} /* 日照银行 */
.creditcard_pj {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/pj.f87107df.png);} /* 盘锦银行 */
.creditcard_jzzl {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jzzl.864c560b.png);} /* 中旅银行 */
.creditcard_jscjsy {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/jscjsy.bec7525e.png);} /* 江苏长江商业银行 */
.creditcard_gxbbw {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/gxbbw.b18baa7f.png);} /* 广西北部湾银行 */
.creditcard_dlns {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/dlns.d378a1b6.png);} /* 大连农商银行 */
.creditcard_as {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/as.4bee0520.png);} /* 鞍山银行 */

/* 2018-06-04 */
.creditcard_citybk {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/citybk.08c7b568.png);} /* 泰国退款花旗银行 */
.creditcard_islamic {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/islamic.418682cb.png);} /* Islamic Bank of Thailand */
.creditcard_kiatnakin {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/kiatnakin.2d7d1696.png);} /* Kiatnakin Bank Public Company Limited */
.creditcard_lahp {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/lahp.988e88e5.png);} /* Land and Houses Public Company Limited. */
.creditcard_mhcb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/mhcb.905e7a64.png);} /* Mizuho Corporate Bank Limited (MHCB) */
.creditcard_tghb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tghb.12b23328.png);} /* The Government Housing Bank */
.creditcard_tgsb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tgsb.9154fbe5.png);} /* The Government Savings Bank */
.creditcard_tisco {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/tisco.0a305948.png);} /* TISCO */
.creditcard_ttcrb {background-image: url(//pic.c-ctrip.com/picaresonline/fncpaymentonline/cnres/img/bank_logo_36/ttcrb.19cf3011.png);} /* The Thai Credit Retail Bank Public Company Limited. */